.sidebar {
    padding-top: 0 !important;
}

.textwidget {
    color: #777777 !important;
}

ul.horaire li {
    color: #333333;
    margin: 0 !important;
    padding: 0 !important;
}


.thumbnail {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 #777777;
}


.thumbnail img {
    position: relative;
    width: 100%;
    height: 200px;
    border: 0; 
    transition: all 350ms ease;
}

.detail {
    padding: 14px;
}

.price {
    color: #0087be;
    font-size: 16px;
    font-weight: 500;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eeeeee;
    opacity: 0.5;
    color: #fff;
    opacity: 0;
    text-align: center;
    padding: 24px 24px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    transition: all 350ms ease;
    width: 100%;
    height: auto;
    box-shadow: 0 8px 10px 0 #333333;
}

.checked-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#0087be;
    color: #fff;
    opacity: 0.8;
    text-align: center;
    padding: 24px 24px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    /* transition: all 350ms ease; */
    width: 100%;
    height: auto;
    box-shadow: 0 8px 10px 0 #333333;
}

.overlay:hover {
    background: #eeeeee;
    opacity: 0.8;
}

.overlay div {
    padding: 10px;
}

.title {
    display: flex;
}

.title h4{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #000;
}

.ref {
    position: relative;
    right: 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #000;
}

.title h4:hover{
    color: #0087be;
}

.pf-icon-add {
    background: #000;
    position: absolute;
    font-size: 16px;
    width: auto;
}

.pf-icon-add  i{
    padding: 10px;;
}



.pf-icon-remove {
    position: absolute;
    left: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background: #333333;
    border: none;
    font-size: 16px;
}

.gallery-pagination{
    text-align: center;
    margin-top: 10px;
}

.mailchimp-form-wrapper{
    float: right;
}

.inline-btn {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
    
}

.inline-btn .btn-danger {
    float: right;
}

.list-section{
    padding: 0;
}

.list-section a{
    position: relative;
    display: -webkit-inline-flex;
    float: right;
    margin-bottom: 15px;
    padding: 5px;
    background: #000;
}

.list-section a:hover{
    background: #000;
    color: #eeeeee;
}


.input-search {
    border:  1px solid #eeeeee;
}

.btn-green {
    background-color: #94c11f;
}

.btn-green:hover {
    color: #fff;
}

.modalDialog {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
    z-index: 99999;
    visibility: hidden;
    display: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    visibility: visible;
    display: block;
}

.top-section{
    position: relative;
    display: inline-block;
    
}

.OpenAddMed {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.OpenAddMed > div {
	position: relative;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}


.OpenAddMed:target {
	opacity:1;
	pointer-events: auto;
}

.close {
	right: 10px;
	top: 10px;
	color: #FFFFFF;
	position: absolute;
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	font-weight: bold;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #333333; 
    display: inline-block; 
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    border: 1px solid #ccc;
    padding: 5px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    line-height: 1.7;
    color: #777777;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

agm-map {
    width: auto;
    height: 200px;
    margin: 0;
    padding: 0;
}
