<div class="main-content">
<section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="assets/images/bg/bg5.jpg" style="background-image: url(&quot;assets/images/bg/bg5.jpg&quot;); background-position: 50% 67px;">
  <div class="container pt-30 pb-30">
    <!-- Section Content -->
    <div class="section-content">
    <div class="row"> 
      <div class="col-sm-12 text-left flip xs-text-center">
      <h2 class="title">{{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <ol class="breadcrumb text-left sm-text-center text-black mt-10">
          <li><a href="/">Accueil</a></li>
          <li class="active text-theme-colored">{{title}}</li>
        </ol>
      </div>
      
    </div>
    </div>
  </div>
</section>
<div class="zozo-main-wrapper">
  <div id="main" class="main-section">
     <div id="fullwidth" class="main-fullwidth main-col-full">
        <section class="vc_row wpb_row vc_row-fluid vc_custom_1461741169480 vc-zozo-section typo-default">
           <div class="zozo-vc-main-row-inner vc-normal-section">
              <div class="container">
                 <div class="row">
                    <!--  pharmacie detail -->
                   <div class="sidebar widget widget_text col-md-3">
                     <h3 class="widget-title">Pharmacie {{ pharmacieId }}</h3>	
                     <div class="textwidget">
                         <div class="services-contact">
                             <div class="location section">
                               <div class="icon">
                                   <i class="fa fa-map-marker"></i>
                                 </div>
                               <div class="details">
                                 <p>782 Amal II rue 42 n7 Hay El Farah CASABLANCA، Avenue Abdellah Senhaji, Casablanca 20250</p>
                                 <p></p>
                               </div>
                             </div>
                             <div class="phone section">
                                 <div class="icon">
                                     <i class="fa fa-mobile fa-lg"></i>
                                 </div>
                                 <div class="details">
                                   <p>+212 5 20 40 30</p>
                                   <p></p>
                                 </div>
                             </div>
                             <div class="email section">
                               <div class="icon">
                                   <i class="fa fa-envelope"></i>
                               </div>
                               <div class="details">
                                 <p>contact-parma@gmail.com</p>
                                 <p></p>
                               </div>
                             </div>
                             <div class="hours section">
                                 <div class="icon">
                                     <i class="fa fa-envelope"></i>
                                 </div>
                                 <div class="details">
                                   <p>Working Hours</p>
                                     <ul class="horaire">
                                       <li><b>Tuesday	9:16AM–8PM</b></li>
                                       <li>Wednesday	9:16AM–8PM</li>
                                       <li>Thursday	9:16AM–8PM</li>
                                       <li>Friday	9:16AM–8PM</li>
                                       <li>Saturday	9:16AM–8PM</li>
                                     </ul>
                                 </div>
                               </div>
                               <a href="pharmacie/dashboard/#OpenUpdatepharmacy" class="btn btn-default" (click)="getPharmacyById(pharmacieId)">Modifier</a>
                         </div>
                     </div>
                   </div>
                   <div class="wpb_column vc_main_column vc_column_container col-md-9 typo-default">
                       <!-- search and command button section -->
                     <div class="top-section" style="z-index: 0;">
                      <section class="section-1" id="search_medicament" *ngIf="!isOn" >
                        <div id="mc-subscribe-widget1" class="zozo-mc-form subscribe-form mailchimp-form-wrapper col-md-6">
                            <form class="zozo-mailchimp-form">
                              <div class="mailchimp-email zozo-form-group-addon">
                                <div class="input-group form-group">
                                  <input type="text" placeholder="Rechercher votre médicament" class="zozo-subscribe input-search form-control" #box (keyup)="medicamentSearch(box.value)">
                                  <div class="input-group-btn">
                                    <button type="submit" id="zozo_mc_form_widget_submit" class="btn btn-info mc-subscribe zozo-submit"><i class="fa fa-search"></i></button>
                                  </div>
                                </div>
                              </div>
                              <input type="hidden" id="zozo_mc_form_widget_list" name="zozo_mc_form_list" value="8720f4a3d2">															
                            </form>
                          </div>
                      </section>
                  <section class="section-1" id="search_commande" *ngIf="isOn">
                      <div id="mc-subscribe-widget1" class="zozo-mc-form subscribe-form mailchimp-form-wrapper col-md-6">
                          <form class="zozo-mailchimp-form">
                            <div class="mailchimp-email zozo-form-group-addon">
                              <div class="input-group form-group">
                                <input type="text" placeholder="Rechercher votre commande" class="zozo-subscribe input-search form-control" #box (keyup)="commandeSearch(box.value)">
                                <div class="input-group-btn">
                                  <button type="submit" id="zozo_mc_form_widget_submit" class="btn btn-info mc-subscribe zozo-submit"><i class="fa fa-search"></i></button>
                                </div>
                              </div>
                            </div>														
                          </form>
                        </div>
                </section>

                  <section class="section-2">
                     <div class="col-md-6">
                       <button class="btn btn-green" (click)="isOn = false">Médicaments</button>  
                       <button class="btn btn-info" (click)="isOn = true">Commandes</button> 
                     </div>
                   </section>
                     </div>
                     
                      <!-- Commandes -->
                      <div class="row" *ngIf="isOn" >
                        <div class="wpb_column vc_main_column vc_column_container typo-default">
                          <article class="post clearfix pb-30" *ngFor="let commande of filtredCmd">
                            <div class="entry-content border-1px p-20 pr-10">
                              <div class="entry-meta media mt-0 no-bg no-border">
                                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                  <ul>
                                    <li class="font-16 text-white font-weight-600">{{commande.createdAt.substr(0,10)}}</li>
                                  </ul>
                                </div>
                                <div class="media-body pl-15">
                                  <div class="event-content pull-left flip">
                                    <h5 class="entry-title text-white text-uppercase m-0 mt-5"><a routerLink="#">{{commande.id}}</a></h5>
                                    <select name="statutCmd" id="statut" #statutCmd value="{{commande.status}}" (change)="updateStatut(statutCmd.value, commande)">
                                      <option class="" value="en cours">En cours</option>
                                      <option class="" value="en préparation">En préparation</option>
                                      <option class="" value="pret à livrer">Pret à livrer</option>
                                      <option class="" value="refusé">Refusé</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <p></p>
                              <a href="pharmacie/dashboard#{{commande.id}}" class="btn-read-more" (click)="getMedicamentById(commande.medicamentList)">Détails </a>
                              <div id="{{commande.id}}" class="modalDialog animated slideInDown">
                                <a href="pharmacie/dashboard" title="close" class="close">X</a>
                                <h3>Votre commande</h3>
                                <div class="col-md-12">
                                  <table class="table table-striped table-bordered tbl-shopping-cart">
                                    <thead>
                                      <tr>
                                        <th>Photo</th>
                                        <th>Médicament</th>
                                        <th>prix</th>
                                      </tr> 
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let med_commande of commande.medicamentList">
                                        <td class="product-thumbnail"><a routerLink="#"><img alt="member" src="{{med_commande.img}}"></a></td>
                                        <td><a routerLink="#">{{med_commande.name}}</a> x 1</td>
                                        <td><span class="amount">{{med_commande.prix}} Dh</span></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </article>
                        </div>
                      </div>
                      <!-- commandes -->

                       <!-- Gallery -->
                     <section class="row col-md-12 list-section" *ngIf="!isOn">
                       <div class="col-md-12" style="padding-right: 0px">
                          <a href="pharmacie/dashboard/#OpenAddMed" class="btn btn-dark btn-sm mt-10">Nouveau médicament</a>
                      
                       </div>
                        <div class="col-xs-8 col-md-4 thumbnail animated fadeIn" *ngFor="let medicament of filtredMeds | paginate: { itemsPerPage: 6, currentPage: p }">
                            <div class="  ">
                               <img src="{{ medicament.img }}" alt="{{ medicament.name }}" name="{{ medicament.name }}">
                                 <div class="detail">
                                     <div  class="title animated slideInUp">
                                         <h4 class="portfolio-title"> {{ medicament.name }}</h4>
                                         <span class="ref">{{ medicament.reference }} </span>
                                       </div>
                                       <div class="price animated slideInDown">
                                         <span class="portfolio-excerpts"> prix : {{ medicament.price }} DH </span>
                                       </div>
                                       <div class="qte animated slideInDown">
                                        <span class="portfolio-excerpts"> Qte : {{ medicament.quantity }} </span>
                                      </div>
                                 </div>
                                 <div class="overlay">   
                                    <a href="pharmacie/dashboard#{{ medicament.id }}" class="btn btn-dark">modifier</a>
                                  </div>
                            </div>

                              <!-- update Medicament -->
          <section id="{{ medicament.id }}" class="OpenAddMed" data-bg-img="images/bg4.jpg" style="background-position: 50% 0px;">
            <a href="pharmacie/dashboard/#close" class="close">x</a>
                    <div class="col-md-6 col-md-push-3 animated slideInDown">
                      <div class="bg-lightest border-1px p-50">
                        <h4 class="text-theme-colored text-uppercase m-0">Mise à jour médicament</h4>
                        <div class="line-bottom mb-30"></div>
                        <form id="updateMedicamentForm" name="updateMedicamentForm"  #updateMedicamentForm="ngForm" (ngSubmit)="UpdateMedicamentSubmit(updateMedicamentForm , medicament.id)" class="mt-30">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group mb-10">
                                    <input name="med_ref" class="form-control" [(ngModel)]="medicament.reference" type="text" required="" aria-required="true" value="{{ medicament.reference }}"> 
                                  </div>
                                </div>
                              <div class="col-sm-12">
                                  <div class="form-group mb-10">
                                    <input name="med_name" class="form-control" [(ngModel)]="medicament.name" type="text" required=""  aria-required="true" value="{{ medicament.name }}"> 
                                  </div>
                                </div>
                            <div class="col-sm-6">
                              <div class="form-group mb-10">
                                <label for="">Prix</label>
                                <input name="med_qte" class="form-control" [(ngModel)]="medicament.quantity" type="number" required="" aria-required="true" value="{{  medicament.quantity }}">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group mb-10">
                                <label>Quantité</label>
                                <input name="med_prix" class="form-control" [(ngModel)]="medicament.price" type="number" aria-required="true" value="{{ medicament.price }}">
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0 mt-20">
                            <button type="submit" class="btn btn-dark btn-theme-colored">Modifier</button>
                          </div>
                        </form>
                      </div>
                    </div>
          </section>

            <!-- end update medicament -->

                         </div> 
                         <div class="col-md-12 gallery-pagination" style="z-index: -2;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                     </section>
                     
                     <!-- End Gallery -->
                   </div>
                 </div>
              </div>
           </div>
        </section>
          <!-- nouveau médicament -->
          <section id="OpenAddMed" class="OpenAddMed" data-bg-img="images/bg4.jpg" style="background-position: 50% 0px;">
            <a href="pharmacie/dashboard/#close" class="close">x</a>
                    <div class="col-md-6 col-md-push-3 animated slideInDown">
                      <div class="bg-lightest border-1px p-50">
                        <h4 class="text-theme-colored text-uppercase m-0">Ajouter nouveau médicament</h4>
                        <div class="line-bottom mb-30"></div>
                        <form id="addMedicamentForm" name="addMedicamentForm"  #addMedicamentForm="ngForm" (ngSubmit)="actionOnSubmit(addMedicamentForm)" class="mt-30">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group mb-10">
                                    <input name="med_ref" class="form-control"  ngModel type="text" required="" placeholder="Référence" aria-required="true">
                                  </div>
                                </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input name="med_name" class="form-control" ngModel type="text" required="" placeholder="Nom du médicament" aria-required="true">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input name="med_prix" class="form-control" ngModel type="text" placeholder="Prix" aria-required="true">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input name="med_qte" class="form-control" ngModel type="number" placeholder="Quantité" aria-required="true">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input name="med_file" class="form-control required" ngModel type="file" aria-required="true">
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0 mt-20">
                            <button type="submit" class="btn btn-dark btn-theme-colored">Ajouter</button>
                          </div>
                        </form>
                      </div>
                    </div>
          </section>

            <!-- end nouveau medicament -->

             <!-- update Pharmacy -->
          <section id="OpenUpdatepharmacy" class="OpenAddMed" data-bg-img="images/bg4.jpg" style="background-position: 50% 0px;">
            <a href="pharmacie/dashboard/#close" class="close">x</a>
                    <div class="col-md-6 col-md-push-3 animated slideInDown">
                      <div class="bg-lightest border-1px p-50">
                        <h4 class="text-theme-colored text-uppercase m-0">Modification de compte</h4>
                        <div class="line-bottom mb-30"></div>
                        <form id="add_medicament_form" name="add_medicament_form"  #updatePharmacyForm="ngForm" (ngSubmit)="actionOnSubmit(updatePharmacyForm)" class="mt-30">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group mb-10">
                                    <input name="form_name" class="form-control" type="text" required="" placeholder="Nom de la pharmacie" aria-required="true" value="Jura"> 
                                  </div>
                                </div>
                            <div class="col-sm-6">
                              <div class="form-group mb-10">
                                <input name="form_tel" class="form-control" type="text" required="" placeholder="Téléphone" aria-required="true" value="05 37 20 12 56">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group mb-10">
                                <input name="form_email" class="form-control required" type="email" placeholder="Adresse email" aria-required="true" value="juraPharma@gmail.com">
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group mb-10">
                                <input name="form_adress" class="form-control required" type="text" placeholder="Adresse" aria-required="true" value="782 Amal II rue 42 n7 Hay El Farah CASABLANCA، Avenue Abdellah Senhaji, Casablanca 20250">
                              </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-10">
                                  <!-- map -->
                                  <span style="padding: 5px; font-size: 13px; display: table-caption;" class="label label-warning">Merci de préciser votre pharmacie sue la map "Cliquer le bon endroit"</span><br>
                                  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)=getLocationByClick($event) [zoom]=18>
                                      <agm-marker [latitude]="currentLat" [longitude]="currentLng" [iconUrl]="'assets/fonts/hospital_map_marker.png'"></agm-marker>
                                  </agm-map>
                                </div>
                              </div>
                          </div>
                          <div class="form-group mb-0 mt-20">
                            <button type="submit" class="btn btn-dark btn-theme-colored" (click)="submitMedicamentForm()">Modifier</button>
                          </div>
                        </form>
                      </div>
                    </div>
          </section>

            <!-- end update pharmacy -->

            <!-- update Medicament -->
          <section id="OpenUpdateMedicament" class="OpenAddMed" data-bg-img="images/bg4.jpg" style="background-position: 50% 0px;">
            <a href="pharmacie/dashboard/#close" class="close">x</a>
                    <div class="col-md-6 col-md-push-3 animated slideInDown">
                      <div class="bg-lightest border-1px p-50">
                        <h4 class="text-theme-colored text-uppercase m-0">Mise à jour médicament</h4>
                        <div class="line-bottom mb-30"></div>
                        <form id="add_medicament_form" name="updateMedicamentForm"  #updateMedicamentForm="ngForm" (ngSubmit)="UpdateMedicamentSubmit(updateMedicamentForm , medicament)" class="mt-30">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group mb-10">
                                    <input name="med_ref" class="form-control" ngModel type="text" required="" placeholder="Référence" aria-required="true" value=""> 
                                  </div>
                                </div>
                              <div class="col-sm-12">
                                  <div class="form-group mb-10">
                                    <input name="med_name" class="form-control" NgModel type="text" required="" placeholder="Médicament" aria-required="true" value=""> 
                                  </div>
                                </div>
                            <div class="col-sm-6">
                              <div class="form-group mb-10">
                                <input name="med_qte" class="form-control" ngModel type="number" required="" placeholder="Quantité" aria-required="true" value="">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group mb-10">
                                <input name="med_prix" class="form-control required" ngModel type="number" placeholder="Prix" aria-required="true" value="">
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0 mt-20">
                            <button type="submit" class="btn btn-dark btn-theme-colored">Modifier</button>
                          </div>
                        </form>
                      </div>
                    </div>
          </section>

            <!-- end update medicament -->

     </div>
     <!-- #fullwidth -->
  </div>
  <!-- #main -->
</div>
</div>