img.wp-smiley,
img.emoji {
display: inline !important;
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important
}

agm-map {
    height: 539px;
    margin: 0;
    padding: 0;
}

#accordion {
    background: transparent;
    padding: 5px 20px;
    border: 1px solid #e1e1e1;
    margin-right: 10px;
}

#accordion section p {
    display: none;
    padding: 10px;
    font-family: Lato !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

#accordion section h4{
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
}

#accordion section:last-child h4{
    border-bottom: none;
}

#accordion section a {
    text-decoration: none;
    color: #333;
    font-family: Lato !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

#accordion section a:hover {
    color: #0087be;
    text-decoration: none;
}

#accordion section a:after{
    content: "\f067";
    font-family: 'FontAwesome';
    float: right;
    text-align: center;
    color: inherit;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    right: 0;
}

#accordion section:target a:after{
    content: "\f068";
}

#accordion section:target p {
    display: block;
}

#accordion section:target a{
    color: #0087be;
}

#accordion section:target h4{
    border-bottom: 1px solid #e1e1e1;
}

.open {
    color: rgb(38, 158, 92);
    font-family: Lato !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    float: right;
}

.close {
    color: crimson;
    font-family: Lato !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    float: right;
}

section p a {
    font-size: 14px!important;
    color: #fff!important;

}




