<div class="zozo-main-wrapper">
   <div id="main" class="main-section">
      <div id="fullwidth" class="main-fullwidth main-col-full">
         <section class="vc_row wpb_row vc_row-fluid vc_custom_1461741169480 vc-zozo-section typo-default">
            <div class="zozo-vc-main-row-inner vc-normal-section">
               <div class="container">
                  <div class="row">
                     <div class="wpb_column vc_main_column vc_column_container vc_col-sm-4 typo-default">
                            <div id="accordion">
                                <section id="accordion-1">
                                    <h4><a href="/search#accordion-1">Pharmacie 1</a></h4>
                                    <p class="animated FadeInDown">
                                        Amal II rue 42 n7 Hay El Farah CASABLANCA، Avenue Abdellah Senhaji, Casablanca 20250 <br>
                                            Phone : 0525 04 30 20<br>
                                            <span class="close">Fermé</span><br><br>
                                            <a href="./pharmacie/dashboard" type="submit" class="btn btn-default" disabled > Commander votre médicament</a>
                                    </p>
                                </section>
                                <section id="accordion-2">
                                    <h4><a href="/search#accordion-2">Pharmacie 2</a></h4>
                                    <p class="animated FadeInDown">
                                            hay Amal II rue 42 n7 Hay El Farah CASABLANCA، Avenue Abdellah Senhaji, Casablanca 20250<br>
                                            Phone : 0525 04 30 20<br>
                                            <span class="open">Ouvert</span><br><br>
                                            <a href="pharmacie/dashboard" type="submit" class="btn btn-default">Commander votre médicament</a>
                                    </p>
                                </section>
                                <section id="accordion-3">
                                    <h4><a href="/search#accordion-3">Pharmacie 3</a></h4>
                                    <p class="animated FadeInDown">
                                            hay Amal II rue 42 n7 Hay El Farah CASABLANCA، Avenue Abdellah Senhaji, Casablanca 20250<br>
                                            Phone : 0525 04 30 20<br>
                                            <span class="open">Ouvert</span><br><br>
                                            <a href="pharmacie/dashboard" type="submit" class="btn btn-default">Commander votre médicament</a>
                                    </p>
                                </section>
                            </div>
                     </div>
                     <div class="wpb_column vc_main_column vc_column_container vc_col-sm-8 typo-default">
                        <!-- the component as the initial center of the map: -->
                        <agm-map [latitude]="Currentlat" [longitude]="Currentlng">
                            <agm-marker *ngFor="let coord of coords;" [latitude]="coord.lat" [longitude]="coord.lng">
                                <agm-info-window>
                                  <p>Pharmacie name</p>
                                  <p>adress :  Rue Abou Yaala Al Ifrani, Maarif 20250</p>
                                  <p>Tel : 05229-49728</p>
                                  <a routerLink="" class="btn btn-default">Commander médicament</a>
                                </agm-info-window>
                            </agm-marker>
                          </agm-map>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!-- #fullwidth -->
   </div>
   <!-- #main -->
</div>
<!-- .zozo-main-wrapper -->