 <!-- Header -->
  <header id="header" class="header">
    <div class="header-top bg-theme-colored sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-theme-colored icon-sm sm-text-center">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="widget no-border m-0">
              <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="">+212 5 20 20 35</a> </li>
                <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Lun-Ven 8h00 à 18h00 </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="">contact@geopharma.ma</a> </li>
                <li class="mt-sm-10 mb-sm-10">
                  <a routerLink="/register" *ngIf="!usersService.isAuthenticated()">Se connecter / S'inscrire</a>
                  <a (click)="logout()" *ngIf="usersService.isAuthenticated()">Se déconnecter </a>
                  <!-- Component :  app-panier -->
                  <!-- <app-panier [cartArticle]="cartArticle" [total]="total" [deleteFromCart]="deleteFromCart"></app-panier> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white" style="z-index: auto; position: static; top: auto;">
        <div class="container">
          <nav id="menuzord-right" class="menuzord default menuzord-responsive logo"><a href="javascript:void(0)" class="showhide" style="display: none;"><em></em><em></em><em></em></a>
            <a class="menuzord-brand pull-left flip xs-pull-center" href="javascript:void(0)">
              <img src="assets/images/logo-wide.png" alt="">
            </a>
          </nav>
        </div>
      </div><div style="display: none; width: 1349px; height: 85px; float: none;"></div>
    </div>
  </header> 
