<div id="footer" class="footer-section footer-style-default footer-skin-dark">
		<div id="footer-widgets-container" class="footer-widgets-section">
			<div class="container">
				<div class="zozo-row row">

          <div id="footer-widgets-1" class="footer-widgets col-md-3 col-sm-6 col-xs-12">
            <div id="text-9" class="widget widget_text">			
              <div class="textwidget">
                <p><img class="margin-bottom-20" title="" src="assets/images/logo-wide-white.png" alt="footer-logo" width="227" height="50"></p>
              </div>
            </div>
            <div id="zozo_social_link_widget-widget-3" class="widget zozo_social_link_widget">
              <ul class="zozo-social-icons soc-icon-rounded soc-icon-size-normal text-left">
                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="pinterest"><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="google-plus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div id="footer-widgets-2" class="footer-widgets col-md-3 col-sm-6 col-xs-12">
            <div id="nav_menu-2" class="widget widget_nav_menu">
              <h3 class="widget-title">Nos Services</h3>
              <div class="menu-services-menu-container">
                <ul id="menu-services-menu" class="menu">
                  <li id="menu-item-10382" class="menu-item menu-item-type-post_type menu-item-object-zozo_services menu-item-10382"><a href="#">Trouver votre pharmacie</a></li>
                  <li id="menu-item-10380" class="menu-item menu-item-type-post_type menu-item-object-zozo_services menu-item-10380"><a href="#">Commander vos medicaments</a></li>
                  <li id="menu-item-10381" class="menu-item menu-item-type-post_type menu-item-object-zozo_services menu-item-10381"><a href="#">Suivre vos commandes</a></li>
                </ul>
              </div>
            </div>
          </div>

								
								<div id="footer-widgets-3" class="footer-widgets col-md-3 col-sm-6 col-xs-12">
									<div id="tag_cloud-3" class="widget widget_tag_cloud">
                    <h3 class="widget-title">Pharmacie NAME</h3><div class="tagcloud">
                        <div class="textwidget">
                          <p>
                            <strong>Working Hours</strong><br>
                            <strong>Monday – Friday:</strong> 7:30am – 18:00pm<br>
                            <strong>Saturday – Sunday:</strong> 7:30am – 1:00pm
                          </p>
                        </div>  
                    </div>
                    </div>
								</div>

								
								<div id="footer-widgets-4" class="footer-widgets col-md-3 col-sm-6 col-xs-12">

									<div id="text-10" class="widget widget_text">
                    <h3 class="widget-title">Contact Info</h3>			
                    <div class="textwidget">
                      <div class="zozo-features-list-wrapper">
                      <div class="features-list">
                      <div class="features-list-inner list-text-default" style="margin-bottom: 13px">
                      <div class="features-icon"><i style="font-size:20px" class="simple-icon icon-pointer list-icon"></i>
                      </div>
                      <div class="list-desc" style="margin-left: 35px">
                      <p>No. 23 St. Louis, Melbourne, Australia</p>
                  </div>
                  </div>
                  </div>
                  </div>
<div class="zozo-features-list-wrapper">
<div class="features-list">
<div class="features-list-inner list-text-default" style="margin-bottom: 13px">
<div class="features-icon"><i style="font-size:20px" class="simple-icon icon-envelope-open list-icon"></i>
</div>
<div class="list-desc" style="margin-left: 35px">
<p>info@medicalhealth.org</p>
</div>
</div>
</div>
</div>
<div class="zozo-features-list-wrapper">
<div class="features-list">
<div class="features-list-inner list-text-default" style="margin-bottom: 13px">
<div class="features-icon"><i style="font-size:20px" class="simple-icon icon-call-in list-icon"></i>
</div>
<div class="list-desc" style="margin-left: 35px">
<p>+522 234 56789 /+522 234 56780</p>
</div>
</div>
</div>
</div>
</div>
    </div>
								</div>

								
				</div><!-- .row -->

				
			</div>

		</div><!-- #footer-widgets-container -->

		
		<div id="footer-copyright-container" class="footer-copyright-section">

			<div class="container">

				<div class="zozo-row row">

					<div class="col col-sm-6 col-md-6 col-xs-12">

					<div id="copyright-text" class="footer-copyright-left"><p><a href="#"></a></p></div>
					

					
					</div>

					<div class="col col-sm-6 col-md-6 col-xs-12">

						
							

								<div id="footer-widgets-footer-menu-sidebar" class="footer-widgets footer-menu-sidebar">

									<div id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-footer-bottom-menu-container"><ul id="menu-footer-bottom-menu" class="menu"><li id="menu-item-11200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11200"><a href="#">Terms and Conditions</a></li>
<li id="menu-item-11201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11201"><a href="#">Privacy Policy</a></li>
</ul></div></div>
								</div>

							

						
					</div>

				</div>

			</div>

		</div><!-- #footer-copyright-container -->

		
		</div>