<div class="col-md-6">
  <a  class="" href="commande/resume#openModel" >Envoyer votre commande</a>
  <div id="openModel" class="modalDialog">
      <a href="commande/resume" title="Close" class="close">X</a>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-bordered tbl-shopping-cart">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Photo</th>
                      <th>Médicament</th>
                      <th>Prix</th>
                      <th>Quantité</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart_item" *ngFor="let article of cartArticles">
                      <td class="product-remove"><a title="Remove this item" class="remove" href="">×</a></td>
                      <td class="product-thumbnail"><img alt="member" src="{{article.image}}"></td>
                      <td class="product-name">{{ article.name }}</td>
                      <td class="product-price"><span class="amount">{{ article.prix }}</span></td>
                      <td class="product-quantity"><div class="quantity buttons_added">
                          <input type="number" size="4" class="input-text qty text" title="Qty" value="{{article.qte}}"  name="quantity" min="1" step="1" disabled>
                        </div></td>
                      <td class="product-subtotal"><span class="amount">{{ article.prix }} Dh</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12 mt-30">
              <div class="row">
                <div class="col-md-6">
                  <h4>Calculer frais de livraison</h4>
                  <form class="form" action="#">
                    <table class="table no-border">
                      <tbody>
                        <tr>
                          <td><select class="form-control">
                              <option>Select Quartier</option>
                              <option>Maarif</option>
                              <option>Centre Ville</option>
                              <option>Roche noir</option>
                            </select></td>
                        </tr>
                        <tr>
                          <td><button type="button" class="btn btn-default" disabled>Modifier le prix Total</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
                <div class="col-md-6">
                  <h4>Total de la commande</h4>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>Sous total</td>
                        <td>{{ total }} Dh</td>
                      </tr>
                      <tr>
                        <td>Frais de livraison</td>
                        <td>00.00 Dh</td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td>{{ total }} Dh</td>
                      </tr>
                    </tbody>
                  </table>
                  <a routerLink="commande/checkout" class="btn btn-default" >Enregistrer et Continuer</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>