<app-panier></app-panier>
<section>
    <div class="container">
      <div class="section-content">
        <div class="row mt-30">
          <form id="checkout-form" action="#">
            
            <div class="col-md-6">
              <div class="billing-details">
                <h3 class="mb-30">Detail de la livraison</h3>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="checkuot-form-fname">Prénom</label>
                    <input id="checkuot-form-fname" type="email" class="form-control" placeholder="Prénom">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="checkuot-form-lname">Nom</label>
                    <input id="checkuot-form-lname" type="email" class="form-control" placeholder="Nom">
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="checkuot-form-email">Email</label>
                      <input id="checkuot-form-email" type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="checkuot-form-address">Adresse de livraison</label>
                      <input id="checkuot-form-address" type="email" class="form-control" placeholder="Adresse">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Quartier</label>
                    <select class="form-control">
                      <option>Select Quartier</option>
                      <option>Maarif</option>
                      <option>Roche noir</option>
                      <option>Val fleuri</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="shipping-details">
                <h3 class="mb-30">Envoyer à une autre adresse ?
                </h3>
                <div id="checkout-shipping-address">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="checkuot-form-fname2">First Name</label>
                      <input id="checkuot-form-fname2" type="email" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="checkuot-form-lname2">Last Name</label>
                      <input id="checkuot-form-lname2" type="email" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="checkuot-form-cname2">Company Name</label>
                        <input id="checkuot-form-cname2" type="email" class="form-control" placeholder="Company Name">
                      </div>
                      <div class="form-group">
                        <label for="checkuot-form-email2">Email Address</label>
                        <input id="checkuot-form-email2" type="email" class="form-control" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <label for="checkuot-form-address2">Address</label>
                        <input id="checkuot-form-address2" type="email" class="form-control" placeholder="Street address">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="checkuot-form-city2">City</label>
                      <input id="checkuot-form-city2" type="email" class="form-control" placeholder="City">
                    </div>
                    <div class="form-group col-md-6">
                      <label>State/Province</label>
                      <select class="form-control">
                        <option>Select Country</option>
                        <option>Australia</option>
                        <option>UK</option>
                        <option>USA</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="checkuot-form-zip2">Zip/Postal Code</label>
                      <input id="checkuot-form-zip2" type="email" class="form-control" placeholder="Zip/Postal Code">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Country</label>
                      <select class="form-control">
                        <option>Select Country</option>
                        <option>Australia</option>
                        <option>UK</option>
                        <option>USA</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Laisser une note ou une remarque</label>
                  <textarea class="form-control" placeholder="Note de livraison,  Détails de la livarison, Autre détails" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <h3>Votre commande</h3>
              <table class="table table-striped table-bordered tbl-shopping-cart">
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Médicament</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let article of cartArticlesList">
                    <td class="product-thumbnail"><a routerLink="#"><img alt="member" src="{{ article.img }}"></a></td>
                    <td><a routerLink="#">{{ article.name }}</a> x {{ article.qte }}</td>
                    <td><span class="amount">{{ article.subtotal }}</span></td>
                  </tr>
                  <tr *ngFor="let article of cartArticles">
                      <td></td><td></td>
                      <td><span class="amount">{{ total }}</span></td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
                <h3>Information de paiement</h3>
                <div class="payment-method">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" value="option1" checked="">
                      Direct Bank Transfer </label>
                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" value="option2" checked="">
                      Cheque Payment </label>
                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" value="option3" checked="">
                      PayPal Payment </label>
                    <p>Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                  </div>
                </div>
              </div>
           
            <div class="col-md-12">
              <div class="text-right"> <a class="btn btn-default" href="pharmacie/2/commande/checkout#openDialog">Valider commande</a> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="openDialog" class="modalDialog">
      <div>
        <p>
            Votre commande est bien envoyé au pharmacie VITA,  merci de suivre votre commande dans votre espace client. <br>
            En cas d'erreur merci de modifier ou annuler votre commande avant l'acceptation du pharmacie ou contacter votre pharmacie.
        </p>
        <span class="cmdnumbre" >Merci de noter le numéro de votre commande  <br> {{ commandeNum }}</span>
        <p><a href="client/dashboard" class="btn btn-default">Suivre l'état de votre commande</a></p>
      </div>
    </div>
  </section>