.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog > div {
    width: 500px;
	position: relative;
    margin-top: 20px;
    left: 30%;
    top: 20%;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    text-align: center;
    line-height: 2em;
    font-size: 16px;
    font-weight: 500;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.close {
	right: 10px;
	top: 10px;
	color: #FFFFFF;
	position: absolute;
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	font-weight: bold;
}

.cmdnumbre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: crimson;
    font-weight: bold;
    text-align: center;
}

.btn-default {
    margin-top: 20px;
}