<div class="main-content">
<section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="assets/images/bg/bg5.jpg" style="background-image: url(&quot;assets/images/bg/bg5.jpg&quot;); background-position: 50% 67px;">
  <div class="container pt-30 pb-30">
    <!-- Section Content -->
    <div class="section-content">
    <div class="row"> 
      <div class="col-sm-12 text-left flip xs-text-center">
      <h2 class="title">{{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <ol class="breadcrumb text-left sm-text-center text-black mt-10">
          <li><a href="/">Accueil</a></li>
          <li class="active text-theme-colored">{{title}}</li>
        </ol>
      </div>
      
    </div>
    </div>
  </div>
  </section>
<div class="zozo-main-wrapper">
   <div id="main" class="main-section">
      <div id="fullwidth" class="main-fullwidth main-col-full">
         <section class="vc_row wpb_row vc_row-fluid vc_custom_1461741169480 vc-zozo-section typo-default">
            <div class="zozo-vc-main-row-inner vc-normal-section">
               <div class="container">
                  <div class="row">
                    <div class="sidebar widget widget_text col-md-3" *ngIf="profile">
                      <h3 class="widget-title">{{profile.name}}</h3>	
                      <div class="textwidget">
                          <div class="services-contact">
                              <div class="location section">
                                <div class="icon">
                                    <i class="fa fa-map-marker"></i>
                                  </div>
                                <div class="details">
                                  <p>{{profile.addresse}}</p>
                                  <p></p>
                                </div>
                              </div>
                              <div class="phone section">
                                  <div class="icon">
                                      <i class="fa fa-mobile fa-lg"></i>
                                  </div>
                                  <div class="details">
                                    <p>{{profile.phoneNumber}}</p>
                                    <p></p>
                                  </div>
                              </div>
                              <div class="email section">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="details">
                                  <p>{{profile.email}}</p>
                                  <p></p>
                                </div>
                              </div>
                              <div class="email section">
                                <div class="details">
                                  <p>
                                      <a href="client/dashboard/#OpenUpdateProfile" class="btn btn-default" (click)="getPharmacyById(pharmacieId)">Modifier</a>
                                  </p>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="wpb_column vc_main_column vc_column_container col-md-9 typo-default">
                      <article class="post clearfix mb-30 pb-30" *ngFor="let order of orders">
                        <div class="entry-content border-1px p-20 pr-10">
                          <div class="entry-meta media mt-0 no-bg no-border">
                            <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                              <ul>
                                <li class="font-16 text-white font-weight-600"></li>
                                <li class="font-12 text-white text-uppercase"></li>
                              </ul>
                            </div>
                            <div class="media-body pl-15">
                              <div class="event-content pull-left flip">
                                <h5 class="entry-title text-white text-uppercase m-0 mt-5"><a routerLink="#">{{order.id}}</a></h5>
                                <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> {{order.status}}</span>
                              </div>
                            </div>
                          </div>
                          <p></p>
                          <a href="client/dashboard#commandeNum{{order.id}}" class="btn-read-more">Afficher plus </a>
                          <div id="commandeNum{{order.id}}" class="modalDialog animated slideInDown" >
                            <a routerLink="#close" title="Close" class="close">X</a>  
                            <h3>Votre commande</h3>
                            <div class="col-md-12">
                              <table class="table table-striped table-bordered tbl-shopping-cart">
                                <thead>
                                  <tr>
                                    <th>Photo</th>
                                    <th>Médicament</th>
                                    <th>prix</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let om of order.orderMedicament">
                                    <td class="product-thumbnail"><a routerLink="#"><img alt="member" [src]="sanitizer.bypassSecurityTrustResourceUrl(om.img)"></a></td>
                                    <td><a routerLink="#">{{om.medicament.name}}</a> x {{om.quantity}}</td>
                                    <td><span class="amount">{{om.medicament.price}} Dh</span></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </article>
                      
                    </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!-- #fullwidth -->
   </div>
   <!-- #main -->
   <section id="OpenUpdateProfile" class="OpenAddMed" data-bg-img="images/bg4.jpg" style="background-position: 50% 0px;">
    <a href="client/dashboard/#close" class="close">x</a>
            <div class="col-md-6 col-md-push-3 animated slideInDown">
              <div class="bg-lightest border-1px p-50">
                <h4 class="text-theme-colored text-uppercase m-0">Modification de compte</h4>
                <div class="line-bottom mb-30"></div>
                <form id="add_medicament_form" name="add_medicament_form"  #updateProfileForm="ngForm" (ngSubmit)="actionOnSubmit(updateProfileForm)" class="mt-30">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group mb-10">
                            <input name="form_name" class="form-control" type="text" required=""  name="name" [(ngModel)]="profile.name" placeholder="Nom " aria-required="true" value="Jura"> 
                          </div>
                        </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-10">
                        <input name="form_tel" class="form-control" type="text" required="" name="phoneNumber"  [(ngModel)]="profile.phoneNumber" placeholder="Téléphone" aria-required="true" value="05 37 20 12 56">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-10">
                        <input name="form_email" class="form-control required" type="email" name="email"  [(ngModel)]="profile.email" placeholder="Adresse email" aria-required="true" value="juraPharma@gmail.com">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group mb-10">
                        <input name="form_adress" class="form-control required" type="text" name="addresse"  [(ngModel)]="profile.addresse" placeholder="Adresse" aria-required="true" value="782 Amal II rue 42 n7 Hay El Farah CASABLANCA، Avenue Abdellah Senhaji, Casablanca 20250">
                      </div>
                    </div>
                    
                  </div>
                  <div class="form-group mb-0 mt-20">
                    <button type="submit" class="btn btn-dark btn-theme-colored" >Modifier</button>
                  </div>
                </form>
              </div>
            </div>
  </section>

  
</div>