.sidebar {
   padding-top: 0;
}

.widget-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

article {
    margin-bottom: 0!important;
    padding-bottom: 15px!important;

}

.modalDialog {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
    z-index: 99999;
    visibility: hidden;
    display: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    visibility: visible;
    display: block;
}

.OpenAddMed {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.OpenAddMed > div {
	position: relative;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}


.OpenAddMed:target {
	opacity:1;
	pointer-events: auto;
}

.close {
	right: 10px;
	top: 10px;
	color: #FFFFFF;
	position: absolute;
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	font-weight: bold;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #333333; 
    display: inline-block; 
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    border: 1px solid #ccc;
    padding: 5px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    line-height: 1.7;
    color: #777777;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
