.widget-product{
    width: 300px;
    text-align: left;
    padding: 10px;
    border-bottom: 2px #777777;
    margin: 0 !important;
}

.cart_list {
    right: 10px;
    width: auto;
    height: auto;
    position: relative;
    right: 0;
    border-radius: 6px;
}

.remove{
    cursor: pointer;
}

.cart_list {
    position: relative;
    z-index: 9999;
    padding: 10px;
}


.fa-shopping-cart{
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 14px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 100%;
}

.fa-shopping-cart :hover{
    color: #00a4ef;
    background: #ffffff;
}

.breadcrumb {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    padding-left: 0;
    border-radius: 4px;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
    font-size: 16px;
}

.breadcrumb>li>a{
    color: #999999;
    text-decoration: none;
    font-size: 18px;

}

.text-theme-colored {
    color: #00A4EF !important;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-menu{
    min-width: 200px!important;
    padding: 5px;
    float: right;
    position: absolute;
    right: 0px;
}

.opal-topcart {
    position: relative;
    float: right;
    top: -93px;
}

.priceTotal{
    position: relative;
    right: -7px;
    background: #00a4ef;
    color: #ffffff;
    padding: 5px;
    border-radius: 9px;
    text-align: center;

}

.dropdown-toggle{
    text-decoration: none;
    cursor: pointer;
}

.buttons{
    margin-right: 20px;
    margin-left: 20px;
}

.Price-amount{
    background: firebrick;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.widget-product {
    border-bottom: 1px solid #999999;
}
.widget-product a {
    padding: 10px;
}

.cart-main-content .name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#777777;
    margin-top: 10px!important;

}

.remove-article{
    position: relative;
    float: right;
    font-size: 25px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.remove-article:hover{
   color: firebrick;
}

.cart-item .price-currencySymbol {
    color: firebrick;
    font-weight: bold;
}