<div class="main-content">
		<section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="assets/images/bg/bg5.jpg" style="background-image: url(&quot;assets/images/bg/bg5.jpg&quot;); background-position: 50% 67px;">
			<div class="container pt-30 pb-30">
			  <!-- Section Content -->
			  <div class="section-content">
				<div class="row"> 
				  <div class="col-sm-12 text-left flip xs-text-center">
					<h2 class="title">{{title}}</h2>
				  </div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<ol class="breadcrumb text-left sm-text-center text-black mt-10">
							<li><a href="/">Accueil</a></li>
							<li class="active text-theme-colored">{{title}}</li>
						</ol>
					</div>
					
				</div>
			  </div>
			</div>
		  </section>
		  <!-- panier icon-->

		  <div class="container">
				<div class="opal-topcart text-right col-sm-4">
					<div id="cart" class="dropdown cart-version-1 box-top open">
						<a class="dropdown-toggle box-wrap" data-toggle="dropdown" aria-expanded="true" role="button" aria-haspopup="true" data-delay="0" routerLink="#" title="View your shopping cart">
							<span class="cart-icon box-icon">
								<span class="priceTotal">{{total}} Dh </span>
								<i class="fa fa-shopping-cart"></i>
							</span>
						</a>
						<div class="dropdown-menu cart">
							<div class="widget_shopping_cart_content">
								<div class="cart_list">
									<div class="media widget-product" #cartArticle *ngFor="let article of cartArticles">
										<a class="remove-article" title="suprimer" (click)="deleteFromCart(article)">×</a>
										<a routerLink="#" class="image pull-left"><img width="100" height="100" src="./assets/images/doliprane.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="product-01"></a>
										<div class="cart-main-content media-body">
											<h3 class="name">{{ article.name }}</h3>
											<p class="cart-item">
												<span class="quantity">{{ article.qte }} × <span class="price-currencySymbol">
												{{ article.prix }} Dh </span> </span>
											</p>
										</div>
									</div>
								</div><!-- end product list -->
			
			
								<p class="Price-amount text-right"><span>Total: {{ total }}</span>DH</p>
								<p class="buttons clearfix">
									<a href="pharmacie/{{pharmacieId}}#openModel" class="btn btn-primary text-white pull-left wc-forward">Afficher panier</a>
									<a href="" class="btn btn-primary text-white pull-right wc-forward">Commander</a>
								</p>
							</div>
						</div>
						</div>
				</div>
		  </div>
</div>

