.sidebar {
    padding-top: 0 !important;
}

.textwidget {
    color: #777777 !important;
}

ul.horaire li {
    color: #333333;
    margin: 0 !important;
    padding: 0 !important;
}

.section-1 {
    display: block;
}

.section-1 .commande{ 
    float: right;
}

.section-1 .search {
    margin: 20px;
}

.section-1 .search  {
    border: 1px #777777;
    width: 400px;
}

.section-1 .search input {
    width: 400px;
}

.thumbnail {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 #777777;
}

.thumbnail img {
    position: relative;
    width: 100%;
    height: auto;
    border: 0; 
    transition: all 350ms ease;
}

.detail {
    padding: 14px;
}

.price {
    color: #0087be;
    font-size: 16px;
    font-weight: 500;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    color: #fff;
    opacity: 0;
    text-align: center;
    padding: 24px 24px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    transition: all 350ms ease;
    width: 100%;
    height: auto;
    box-shadow: 0 8px 10px 0 #333333;
}

.checked-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0087be;
    color: #fff;
    opacity: 0.8;
    text-align: center;
    padding: 24px 24px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    /* transition: all 350ms ease; */
    width: 100%;
    height: auto;
    box-shadow: 0 8px 10px 0 #333333;
}

.overlay:hover {
    opacity: 0.8;
}

.overlay div {
    padding: 10px;
}

.title h4{
    font-size: 22px;
    font-weight: 400;
    font-family: Helvetica;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.title h4:hover{
    color: #0087be;
}

.pf-icon-add {
    position: absolute;
    left: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background: #0087be;
    border: none;
    font-size: 16px;
}


.pf-icon-remove {
    position: absolute;
    left: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background: #333333;
    border: none;
    font-size: 16px;
}

.gallery-pagination{
    text-align: center;
    margin-top: 10px;
}

.mailchimp-form-wrapper{
    float: right;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog > div {
	position: relative;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.close {
	right: 10px;
	top: 10px;
	color: #FFFFFF;
	position: absolute;
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	font-weight: bold;
}

.remove{
    cursor: pointer;
    font-size: 16px;
}
