<app-panier [cartArticles]="cartArticles" [checkeMedicament]="checkeMedicament" [total]="total"  *ngIf="showFeatures" ></app-panier>
<div class="zozo-main-wrapper">
   <div id="main" class="main-section">
      <div id="fullwidth" class="main-fullwidth main-col-full">
         <section class="vc_row wpb_row vc_row-fluid vc_custom_1461741169480 vc-zozo-section typo-default">
            <div class="zozo-vc-main-row-inner vc-normal-section">
               <div class="container">
                  <div class="row">
                     <!--  pharmacie detail -->
                    <div class="sidebar widget widget_text col-md-3" *ngIf="pharmacie">
                      <h3 class="widget-title"> {{ pharmacie.name }}</h3>	
                      <div class="textwidget">
                          <div class="services-contact">
                              <div class="location section">
                                <div class="icon">
                                    <i class="fa fa-map-marker"></i>
                                  </div>
                                <div class="details">
                                  <p>{{pharmacie.addresse}}</p>
                                  <p></p>
                                </div>
                              </div>
                              <div class="phone section">
                                  <div class="icon">
                                      <i class="fa fa-mobile fa-lg"></i>
                                  </div>
                                  <div class="details">
                                    <p>{{pharmacie.phoneNumber}}</p>
                                    <p></p>
                                  </div>
                              </div>
                              <div class="email section">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="details">
                                  <p>{{pharmacie.email}}</p>
                                  <p></p>
                                </div>
                              </div>
                              <div class="hours section">
                                  <div class="icon">
                                      <i class="fa fa-envelope"></i>
                                  </div>
                                  <div class="details">
                                    <p>Working Hours</p>
                                      <ul class="horaire">
                                        
                                        <li>{{pharmacie.schedule}}</li>
                                      </ul>
                                  </div>
                                </div>
                          </div>
                      </div>
                    </div>

                    <div class="wpb_column vc_main_column vc_column_container col-md-9 typo-default">
                        <!-- search and command button section -->
                      <section class="section-1">
                            <div id="mc-subscribe-widget1" class="zozo-mc-form subscribe-form mailchimp-form-wrapper col-md-6">
                                <p class="mailchimp-msg zozo-form-success"></p>
                        
                                <form class="zozo-mailchimp-form">
                                  <div class="mailchimp-email zozo-form-group-addon">
                                    <div class="input-group form-group">
                                      <input type="text" placeholder="Rechercher votre pharmacie" class="zozo-subscribe input-email form-control" value="" name="subscribe_email" id="subscribe_email" #box (keyup)="onKeyUp(box.value)">
                                      <div class="input-group-btn">
                                        <button type="submit" id="zozo_mc_form_widget_submit" name="zozo_mc_submit" class="btn mc-subscribe zozo-submit"><i class="fa fa-search"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  <input type="hidden" id="zozo_mc_form_widget_list" name="zozo_mc_form_list" value="8720f4a3d2">															
                                </form>
                              </div>
                      </section>
                      <!-- commande resume  -->
                      <div class="col-md-6">
                          <a  class="" href="pharmacie/{{pharmacieId}}#openModel">Envoyer votre commande</a>
                          <div id="openModel" class="modalDialog">
                              <a href="pharmacie/{{pharmacieId}}" title="Close" class="close">X</a>
                              <div class="container">
                                <div class="section-content">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="table-responsive">
                                        <table class="table table-striped table-bordered tbl-shopping-cart">
                                          <thead>
                                            <tr>
                                              <th></th>
                                              <th>Photo</th>
                                              <th>Médicament</th>
                                              <th>Prix</th>
                                              <th>Quantité</th>
                                              <th>Total</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr class="cart_item" *ngFor="let article of cartArticles">
                                              <td class="product-remove"><a title="Remove this item" class="remove" (click)="deleteFromCart(article)">×</a></td>
                                              <td class="product-thumbnail"><img alt="member" src="{{article.image}}"></td>
                                              <td class="product-name">{{ article.name }}</td>
                                              <td class="product-price"><span class="amount">{{ article.price }}</span></td>
                                              <td class="product-quantity">
                                                <div class="quantity buttons_added">
                                                  <input type="number" class="input-text qte text" title="Qty" value="1" #qte  name="qte" min="1" max="{{article.quantity}}" (change)="calculateSubTolal(article , article.price , qte.value , qte)">
                                                </div>
                                              </td>
                                              <td class="product-subtotal"><span class="amount">{{article.subtotal}} Dh</span></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                    <div class="col-md-12 mt-30">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <h4>Calculer frais de livraison</h4>
                                          <form class="form" action="#">
                                            <table class="table no-border">
                                              <tbody>
                                                <tr>
                                                  <td><select class="form-control">
                                                      <option>Select Quartier</option>
                                                      <option>Maarif</option>
                                                      <option>Centre Ville</option>
                                                      <option>Roche noir</option>
                                                    </select></td>
                                                </tr>
                                                <tr>
                                                  <td><button type="button" class="btn btn-default" disabled>Modifier le prix Total</button></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </form>
                                        </div>
                                        <div class="col-md-6">
                                          <h4>Total de la commande</h4>
                                          <table class="table table-bordered">
                                            <tbody>
                                              <tr>
                                                <td>Sous total</td>
                                                <td>{{ total }} Dh</td>
                                              </tr>
                                              <tr>
                                                <td>Frais de livraison</td>
                                                <td>00.00 Dh</td>
                                              </tr>
                                              <tr>
                                                <td>Total</td>
                                                <td>{{ total }} Dh</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <a (click)="checkout()" class="btn btn-default" >Enregistrer</a> </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      <!-- end commande resume -->
                        <!-- Gallery -->
                      <section class="col-md-12">
                         <div class="col-xs-8 col-md-4 thumbnail animated fadeIn" *ngFor="let medicament of filtredMeds | paginate: { itemsPerPage: 6, currentPage: p }">
                             <div class="store-item">
                                <img [src]="sanitizer.bypassSecurityTrustResourceUrl(medicament.img)" alt="{{ medicament.name }}" name="{{ medicament.name }}">
                                  <div class="detail">
                                      <div  class="title animated slideInUp">
                                          <h4 class="portfolio-title"> {{ medicament.name }}</h4>
                                        </div>
                                        <div class="price animated slideInDown">
                                          <span class="portfolio-excerpts"> prix : {{ medicament.price }} DH </span>
                                        </div>
                                  </div>
                                <div class="overlay" *ngIf="showFeatures">   
                                  <ul class="overlay-buttons">
                                      <li>
                                        <button class="pf-icon-add" (click)="addToCart(medicament)">
                                          <i class="fa fa-check"></i>
                                        </button>
                                      </li>
                                    </ul>
                                </div>

                                <div [ngClass]="{'checked-item' : checkeMedicament[medicament.name]}">
                                    <ul class="overlay-buttons">
                                        <li [class.hidden]="!checkeMedicament[medicament.name]"><button class="pf-icon-remove" (click)="deleteFromCart(medicament)"><i class="fa fa-remove"></i></button></li>
                                    </ul>
                                </div>
                             </div>
                          </div> 
                      </section>
                      <div class="col-md-12 gallery-pagination">
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                      <!-- End Gallery -->
                    </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!-- #fullwidth -->
   </div>
   <!-- #main -->
</div>