a {
		color: #0087be;
	}
	.page-title-section .page-title-breadcrumbs .zozo-breadcrumbs a:hover,
	.page-title-section.page-titleskin-dark .page-title-breadcrumbs .zozo-breadcrumbs a:hover,
	.page-title-section.page-titleskin-dark .page-title-breadcrumbs .zozo-breadcrumbs a:focus,
	.sidebar .zozo-latest-posts .posts-title a:hover {
		color: #0087be;
	}
	blockquote:before,
	blockquote:after {
		color: #0087be;
	}
	.bg-style.bg-normal {
		background-color: #0087be!important;
		fill: #0087be;
	}
	.bg-overlay-primary:before {
		background: rgba(0,135,190,0.8);
	}
	.typo-dark h1 > a:hover,
	.typo-dark h1 > a:active,
	.typo-dark h1 > a:focus,
	.typo-dark h2 > a:hover,
	.typo-dark h2 > a:active,
	.typo-dark h2 > a:focus,
	.typo-dark h3 > a:hover,
	.typo-dark h3 > a:active,
	.typo-dark h3 > a:focus,
	.typo-dark h4 > a:hover,
	.typo-dark h4 > a:active,
	.typo-dark h4 > a:focus,
	.typo-dark h5 > a:hover,
	.typo-dark h5 > a:active,
	.typo-dark h5 > a:focus,
	.typo-dark h6 > a:hover,
	.typo-dark h6 > a:active,
	.typo-dark h6 > a:focus,
	.typo-light h1 > a:hover,
	.typo-light h1 > a:active,
	.typo-light h1 > a:focus,
	.typo-light h2 > a:hover,
	.typo-light h2 > a:active,
	.typo-light h2 > a:focus,
	.typo-light h3 > a:hover,
	.typo-light h3 > a:active,
	.typo-light h3 > a:focus,
	.typo-light h4 > a:hover,
	.typo-light h4 > a:active,
	.typo-light h4 > a:focus,
	.typo-light h5 > a:hover,
	.typo-light h5 > a:active,
	.typo-light h5 > a:focus,
	.typo-light h6 > a:hover,
	.typo-light h6 > a:active,
	.typo-light h6 > a:focus {
		color: #0087be;
	}
	
	/*--------------Page loader-----------*/
	.pageloader .ball-clip-rotate > div {
		border-color: #0087be;
		border-bottom-color: transparent;
	}
	/* ------------- Button ------------- */
	.btn,
	.btn.btn-default,
	
	input[type="submit"],
	button[type="submit"],
	.vc_general.vc_btn3.vc_btn3-color-primary-bg,
	.vc_btn.vc_btn-primary-bg,
	.vc_general.vc_btn3.vc_btn3-color-juicy-pink,
	.btn-modal.btn-primary {
		background: #0087be;
	}
	
	.rev_slider_wrapper .tp-parallax-wrap .btn-default {
		background: #0087be !important;
	}
	.vc_btn.vc_btn-primary-bg:hover,
	.vc_btn.vc_btn-primary-bg:focus,
	.vc_btn.vc_btn-primary-bg:active,
	.vc_general.vc_btn3.vc_btn3-color-juicy-pink:hover,
	.vc_general.vc_btn3.vc_btn3-color-juicy-pink:focus,
	.vc_general.vc_btn3.vc_btn3-color-juicy-pink:active,
	.pager li > a:hover,
	.pager li > span:hover,
	.pager li > a:focus,
	.pager li > span:focus {
		background-color: rgba(0,135,190,0.8);
		box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-webkit-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-moz-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-ms-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-o-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	
	.tagcloud a:hover,
	.tagcloud a:focus {
		box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-webkit-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-moz-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-ms-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		-o-0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	
	.btn-transparent-black:hover,
	.btn.btn-transparent-black:hover,
	.btn-transparent-white:hover,
	.btn.btn-transparent-white:hover,
	.btn-transparent-black-inverse,
	.btn.btn-transparent-black-inverse,
	.btn-transparent-white-inverse,
	.btn.btn-transparent-white-inverse,
	.btn-transparent-color,
	.btn.btn-transparent-color,
	.btn-transparent-color-inverse:hover,
	.btn.btn-transparent-color-inverse:hover {
		color: #0087be;
	}
	.btn-transparent-color:hover,
	.btn.btn-transparent-color:hover,
	.btn-transparent-color-inverse,
	.btn.btn-transparent-color-inverse {
		background-color: #0087be;
	}
	.vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg,
	.vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg:hover,
	.btn-transparent-color,
	.btn.btn-transparent-color,
	.btn-transparent-color-inverse:hover,
	.btn.btn-transparent-color-inverse:hover,
	.btn-transparent-color:hover,
	.btn.btn-transparent-color:hover,
	.btn-transparent-color-inverse,
	.btn.btn-transparent-color-inverse {
		border-color: #0087be;
	}
	.bg-skin-dark .vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg {
		color: #0087be;
	}
	.parallax-background .parallax-content a.btn:hover,
	.parallax-background .parallax-content a.btn:active,
	.parallax-background .parallax-content a.btn:focus {
		color: #0087be;
	}
	#respond .form-submit input[type="submit"],
	input[type="submit"],
	.wpcf7 input[type="submit"],
	button[type="submit"] {
		background-color: #0087be;
	}
	.bg-style.dark-wrapper .vc_general.vc_cta3 .vc_cta3-actions .vc_general.vc_btn3.vc_btn3-style-transparent.vc_btn3-color-primary-bg {
		color: #0087be;
	}
	/* Go Button Styles */
	.vc_btn3-color-primary-bg.vc_btn3-style-outline:hover,
	.vc_btn3-color-primary-bg.vc_btn3-style-outline:focus,
	.vc_btn3-color-primary-bg.vc_btn3-style-outline:active {
		background-color: #0087be;
	}
	.vc_btn3-color-primary-bg.vc_btn3-style-outline {
		border-color: #0087be;
	}
	.vc_btn3-color-primary-bg.vc_btn3-style-outline,
	.vc_general.vc_btn3.vc_btn3-style-transparent.vc_btn3-color-primary-bg {
		color: #0087be;
	}
	button.ubtn .ubtn-hover {
		background: #0087be;
	}
	.ubtn.ubtn-center-dg-bg .ubtn-hover,
	.ubtn.ubtn-top-bg .ubtn-hover,
	.ubtn.ubtn-bottom-bg .ubtn-hover,
	.ubtn.ubtn-left-bg .ubtn-hover,
	.ubtn.ubtn-right-bg .ubtn-hover,
	.ubtn.ubtn-center-hz-bg .ubtn-hover,
	.ubtn.ubtn-center-vt-bg .ubtn-hover {
		background-color: #0087be;
	}
	/* ------------- VC Progress Bar ------------- */
	.bar-style-tooltip .tooltip .tooltip-inner {
		background: #0087be;
	}
	.bar-style-tooltip .tooltip.top .tooltip-arrow {
		border-top-color: #0087be;
	}
	/* ------------- Header top section ------------- */
	.header-top-section a:hover,
	.header-top-section a:focus,
	.mobile-header-section a:hover,
	.mobile-header-section a:focus,
	.mobile-cart-wrapper a:hover,
	.mobile-cart-wrapper a:focus,
	.mobile-menu-wrapper a:hover,
	.mobile-menu-wrapper a:focus,
	.header-main-bar-sidemenu > a.active {
		color: #0087be;
	}
	.cart-count {
		background: #0087be;
	}
	.header-details-box .header-details-icon > I{
		background: #0087be;
	}
	/* ------------- Header logo section ------------- */
	.header-logo-section .navbar-nav > li a:hover,
	.header-logo-section .header-contact-details li > a:hover {
		color: #0087be;
	}
	.header-logo-section .header-contact-details > li.header-phone:before,
	.header-logo-section .header-contact-details > li.header-email:before {
		color: #0087be;
	}	
	/* ------------- Navigation menu ------------- */
	.header-section .header-main-section .zozo-main-nav > li > a:hover,
	.header-section .header-main-section .zozo-main-nav > li:hover > a,
	.header-section .header-main-section .zozo-main-nav > li.active > a,
	.header-section a:hover,
	.header-section i:hover,
	.header-section .zozo-main-nav li.current-menu-ancestor > a,
	.header-section .zozo-main-nav li.current-menu-parent > a,
	.header-section .zozo-main-nav li.current-menu-item > a,
	.header-section .header-main-section .zozo-main-nav.navbar-nav .dropdown-menu > li > a:focus,
	.header-section .header-main-section .zozo-main-nav.navbar-nav .dropdown-menu > li > a:hover,
	.header-section .header-main-section .zozo-main-nav.navbar-nav .sub-menu > li > a:focus,
	.header-section .header-main-section .zozo-main-nav.navbar-nav .sub-menu > li > a:hover,
	.header-section .header-main-section .dropdown-menu > li.dropdown:hover > a,
	.header-section .header-main-section .sub-menu > li.dropdown:hover > a,
	.header-section .header-main-section .dropdown-menu > .active > a,
	.header-section .header-main-section .dropdown-menu > .active > a:focus,
	.header-section .header-main-section .dropdown-menu > .active > a:hover,
	.header-section .header-main-section .menu-item.active > a,
	.header-section .header-main-section .mobile-sub-menu > li > a:hover,
	.header-section .header-main-section .mobile-sub-menu > li > a:active,
	.header-section .header-main-section .mobile-sub-menu > li > a:focus,
	.header-section .header-toggle-section .nav > li > a:focus,
	.header-section .header-toggle-section .nav > li > a:hover,
	.header-section .header-logo-section .header-contact-details li a:hover,
	.header-section .header-toggle-section .header-contact-details li a:hover,
	.header-toggle-content .btn-toggle-close,
	.header-toggle-section .header-side-top-section .header-side-top-submenu.dropdown-menu li > a:hover,
	.header-main-section li.header-side-wrapper > a:focus,
	.header-skin-light.header-transparent .header-top-section ul > li a:hover,
	.header-section.header-skin-dark .header-main-section .zozo-main-nav li.current-menu-item > a,
	.header-section .zozo-main-nav .mobile-sub-menu > li > a:hover,
	.header-section.header-menu-skin-dark .header-main-section a:hover,
	.header-section.header-menu-skin-light .header-main-section a:hover,
	.header-overlay-menu-wrapper .zozo-main-nav > li > a:hover,
	
	.zozo-main-nav .dropdown-menu.mega-dropdown-menu li > a:hover, 
	
	.zozo-main-nav .dropdown-menu.mega-dropdown-menu li > a:focus {
		color: #0087be;
	}
	.zozo-main-nav.navbar-nav .dropdown-menu,
	.zozo-main-nav.navbar-nav .dropdown-menu .sub-menu,
	.zozo-main-nav.navbar-nav .sub-menu,
	.zozo-megamenu-wrapper,
	.header-side-top-submenu.dropdown-menu {
		border-color: #0087be;
	}
	.header-section .header-main-section .header-top-cart .cart-icon .cart-count,
	.header-toggle-section .header-top-cart .cart-icon {
		background: #0087be;
	}
	.header-section.header-skin-light .zozo-megamenu-widgets-container .widget li a:hover,
	.header-section.header-skin-dark .zozo-megamenu-widgets-container .widget li a:hover {
		color: #0087be;
	}
	.header-section.header-transparent .header-top-section a:hover,
	.header-section.header-semi-transparent .header-top-section a:hover,
	.header-section.header-transparent .header-top-section a:focus,
	.header-section.header-semi-transparent .header-top-section a:focus {
		color: #0087be;
	}
	.mobile-menu-wrapper .mobile-menu-nav,
	.mobile-cart-wrapper .mobile-cart-link {
		background:#0087be;
	}
	/* TOGGLE HEADER */
	.header-section.type-header-9 .header-toggle-section .close-menu,
	.header-toggle-section .header-side-top-section .header-side-topmenu .btn:hover {
		background:#0087be;
	}
	.header-side-main-section .main-bar-item.item-cart .cart-icon {
		background:#0087be;
	}
	.header-section .menu-item .new-tag {
		background:#0087be;
	}
	.header-section .menu-item .new-tag:before {
		border-right-color:#0087be;
	}
	/* FULL SCREEN SEARCH */
	.header-fullscreen-search-wrapper .fullscreen-search-inner .btn.btn-search:hover,
	.header-fullscreen-search-wrapper .fullscreen-search-inner .btn.btn-search:focus {
		color: #0087be;
	}
	/* MOBILE NAV */
	.main-mobile-nav .zozo-main-nav li.active > .toggle-wrapper a,
	.main-mobile-nav .mobile-sub-menu li.active > a,
	.main-mobile-nav .zozo-main-nav li a:hover,
	.main-mobile-nav .zozo-main-nav .submenu-toggle:hover,
	.main-mobile-nav .current-menu-ancestor > .toggle-wrapper a,
	.main-mobile-nav .current-menu-ancestor > .toggle-wrapper .zozo-megamenu-title {
		color: #0087be;
	}	
	/* ------------------ Secondary Menu widgets ------------------ */
	.secondary_menu .widget.widget_recent_entries li a:hover,
	.secondary_menu .widget.widget_recent_comments li .comment-author-link a:hover,
	.secondary_menu .widget.zozo_category_posts_widget li a:hover,
	.secondary_menu .widget.widget_categories li a:hover,
	.secondary_menu .widget.widget_archive li a:hover,
	.secondary_menu .widget.widget_meta li a:hover,
	.secondary_menu .widget.widget_nav_menu li a:hover,
	.secondary_menu .widget.widget_nav_menu li.current_page_item a,
	.secondary_menu .widget li .tweet-user-name a:hover,
	.secondary_menu .widget.zozo_popular_posts_widget .posts-title > a:hover,
	.secondary_menu .zozo-tabs-widget a:hover,
	.secondary_menu .widget.widget_pages li > a:hover {
		color: #0087be;
	}
	/* ------------- Parallax Title ------------- */
	.parallax-title:after {
    	background-color: #0087be;
	}
	/* ------------- Parallax Sub Title ------------- */
	.parallax-sub-title, .typo-light .parallax-sub-title {
		color: #0087be;
	}
	/* ------------- Feature Box ------------- */
	.grid-item a > .grid-title:hover,
	.typo-light .grid-item a > .grid-title:hover {
		color: #0087be;
	}
	/* Text block */
	.shortcodes-listing ul li a:hover, .shortcodes-listing ul li a:hover {
		color: #0087be;
	}
	
	/* Icon Color */
	.zozo-icon.icon-bordered.icon-shape,
	.zozo-icon.icon-light.icon-shape,
	.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-none,
	
	.zozo-feature-box.image-overlay .grid-item:hover .grid-icon-wrapper .grid-icon,
	
	.before-footer .zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-none,
	.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-transparent,
	.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-pattern,
	.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-bordered,
	.zozo-features-list-wrapper .features-list-inner .features-icon {
		color: #0087be;
	}
	.bg-style.bg-normal .zozo-icon.icon-bg.icon-shape,
	.bg-style.bg-normal .zozo-icon.icon-border-bg.icon-shape,
	.bg-style.bg-normal .zozo-icon.icon-border-bg-space.icon-shape,
	.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg .zozo-icon,
	.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-br .zozo-icon,
	.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-br .zozo-icon {
		color: #0087be;
	}
	/* Icon BG Color */
	.zozo-icon.icon-bg.icon-shape,
	.zozo-icon.icon-border-bg.icon-shape,
	.zozo-icon.icon-border-bg-space.icon-shape {
		background-color: #0087be;
	}
	/* Icon Bordered w/ Background Alt Style */
	.zozo-icon.icon-border-bg-space.icon-shape:after {
		box-shadow: 0 0 0 2px #0087be;
	}
	/* Icon Hover Color */
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .zozo-icon.icon-light.icon-shape,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .grid-icon.icon-none.icon-skin-light,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .grid-icon.icon-none.icon-skin-dark {
		color: #0087be;
	}
	/* Icon Hover Bg Color */
	.feature-box-style.style-box-with-bg .grid-item .grid-box-inner.grid-text-center:after,
	.feature-box-style.style-box-with-bg .grid-item .grid-box-inner .grid-icon:after,
	.grid-item .grid-box-inner .grid-overlay-top .grid-icon-wrapper .grid-icon:after,
	.icon-bottom-line .grid-icon-wrapper:after {
		background-color: #0087be;
	}
	/* Icon Hover border & Bg color */
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-br .grid-icon.icon-shape.icon-bordered,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-bordered-bg {
		border-color: #0087be;
	}
	.zozo-feature-box.feature-box-style.style-overlay-box .grid-box-inner,
	.grid-item .grid-box-inner .grid-overlay-bottom {
		background-color: #0087be;
	}
	/* Icon Hover Icon & Bg Color */
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape {
		color: #0087be;
	}
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-dark,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg .zozo-icon.icon-dark.icon-shape,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-light,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-bordered,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-dark,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-light,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-bordered {
		background-color: #0087be;
	}
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-pattern,
	.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-pattern {
		background-color: #0087be;
	}
	.top-border-style:after {
		border-color: #0087be;
	}
	/* ------------- Progress Bar ------------- */
	.vc_progress_bar .vc_single_bar .vc_bar {
		background-color: #0087be;
	}
	
	/* ------------- Tour ------------- */
	.vc_tta .vc_tta-tab a:hover, 
	.vc_tta .vc_tta-tab a:active, 
	.vc_tta .vc_tta-tab a:focus,
	.vc_tta .vc_tta-tab.vc_active a {
   		background-color: #0087be !important;
	}
	
	/* ------------- Tabs ------------- */
	.nav-tabs > li > a:hover,
	.zozo-left-vertical .nav-tabs > li > a:hover,
	.zozo-right-vertical .nav-tabs > li > a:hover {
		background-color: #0087be;
	}
	.nav-tabs > li > a:hover,
	.zozo-left-vertical .nav-tabs > li > a:hover,
	.zozo-right-vertical .nav-tabs > li > a:hover,
	.zozo-left-vertical .nav-tabs > li.active > a,
	.zozo-right-vertical .nav-tabs > li.active > a,
	.zozo-tab-horizontal .nav-tabs > li.active a,
	.zozo-tab-horizontal .nav-tabs > li > a:hover,
	.zozo-right-vertical .nav-tabs.tabs-right > li.active > a {
		background: #0087be;
	}
	/* VC Tabs */
	.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a {
		border-bottom-color: #0087be!important;
	}
	/* VC FAQ */
	.vc_toggle .vc_toggle_icon {
		background-color: #0087be;
	}
	/* ------------- Accordion ------------- */
	.zozo-accordion.zozo-accordion-default .panel-title a,
	.zozo-accordion.zozo-accordion-classic .panel-title a {
		color: #0087be;
	}
	
	.vc_tta.vc_tta-accordion.vc_tta-style-flat .vc_active .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
        color: #0087be!important;
	}	
	/* ------------- Pie chart ------------- */
	.zozo-piechart-content .circle-counter-title {
		 color: #0087be;
	}
	/* ------------- Dropcap ------------- */
	.dropcap {
		color: #0087be;
	}
	.text-hightlight {
		background-color: #0087be;
	}
	/* ------------- Service Box ------------- */
	.zozo-vc-service-box .service-box-inner .service-ribbon-text,
	.zozo-vc-service-box .service-desc {
		background-color: #0087be;
	}
	.zozo-vc-service-box:hover .service-box-inner {
		box-shadow: 0 0 7px #0087be inset;
		-webkit-box-shadow: 0 0 7px #0087be inset;
		-moz-box-shadow: 0 0 7px #0087be inset;
		-ms-box-shadow: 0 0 7px #0087be inset;
		-o-box-shadow: 0 0 7px #0087be inset;
		border-color: #0087be;
	}
	.zozo-services-grid-wrapper .services-content-wrapper h4 a:hover {
		color: #0087be;
	}
	/* ------------- Team Style One ------------- */
	.team-box_type .team-content .team-member-name a::after {
		background: #0087be;
	}
	/* ------------- Team Member ------------- */
	.team-item .team-member-name a:hover {
		color: #0087be;
	}
	
	.team-box_type .owl-item:hover .team-item-img {
    	border-color: #0087be;
	}
	.team-box_type .zozo-team-social li a:hover {
    	background-color: #0087be !important;
	}
	.team-content {
		border-color: #0087be;
	}
	
	.zozo-team-slider-wrapper.team-box_type .owl-item:hover .team-overlay-style {
		background-color: rgba(0,135,190,0.9);
	}
	/* ------------- Testimonials ------------- */
	.testimonial-item .testimonial-content blockquote:before,
	.testimonial-item .testimonial-content blockquote:after {
		color: #0087be;
	}
	.zozo-video-controls #video-play:hover,
	.zozo-video-controls #video-play:focus {
		color: #0087be;
	}
	
	.testimonial-item .author-details .testimonial-author-name > a:hover {
		color: #0087be;
	}
	/* Style 2 */
	.testimonial-item.tstyle-border2 {
		border-color: #0087be;
	}
	.testimonial-item.tstyle-border2 .author-details .testimonial-author-name > a {
		color: #0087be;
	}
	/* ------------- Timetable ------------- */
	.mp-event-item .mptt-content ul.events-list li.event {
		border-left-color: #0087be;
	}
	.mptt-sidebar .widget ul li.event:hover {
    	background: #0087be;
	}		
	/* ------------- Twitter Slider ------------- */
	.zozo-twitter-slider-wrapper:before {
		background: #0087be;
	}
	/* ------------- Owl Carousel Navigation ------------- */
	.owl-carousel.owl-theme .owl-controls .owl-nav div {
	   background-color: #0087be;
	}
	/* ------------- Owl Carousel Dots ------------- */
	.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span {
		background: #0087be;
	}
	/* ------------- Call To Action ------------- */	
	.vc_btn3.vc_btn3-style-custom:hover {
		background-color: rgba(0,135,190,0.8)!important;
	}
	.vc_icon_element-background-color-primary-bg {
		background: #0087be;
	}
	/* VC Slider */
	.vc_row .vc_images_carousel .vc_carousel-indicators .vc_active {
		border-color: #0087be;
		background: none;
	}
	.vc_row .vc_images_carousel .vc_carousel-indicators li {
		background-color: #0087be;
		border-color: #0087be;
	}
	/* ------------- Pricing Table ------------- */
	.featured-item .zozo-pricing-item .pricing-box .pricing-head,
	.featured-item .zozo-pricing-item .pricing-cost-wrapper,
	.featured-item .zozo-pricing-item .pricing-box .pricing-features.clearfix {
    	background: #0087be;
	}	
	.zozo-pricing-item .pricing-cost-wrapper .pricing-cost h3 {
		color: #0087be;
	}
	.zozo-pricing-item.active .pricing-head:after {
		background-color: #0087be;
	}	
	.zozo-pricing-table-wrapper .pricing-bottom .btn.btn-default:hover {	
		border-color: #0087be;	
	}	
	.zozo-pricing-table-wrapper.featured-item.price-style-two,
	.zozo-pricing-table-wrapper.featured-item.price-style-one {
		border-color: #0087be;
	}
	.featured-item .zozo-pricing-item .pricing-cost-wrapper .pricing-cost {
		background-color: #0087be;
	}
	/* Style One */
	.featured-item.price-style-one .pricing-head .pricing-cost-wrapper {
		background-color: #0087be;
	}
	.featured-item.price-style-one .zozo-pricing-item .pricing-bottom .btn.btn-default {
		background-color: #0087be;
	}
	.zozo-pricing-table-wrapper.price-style-one .zozo-pricing-item .pricing-bottom .btn.btn-default:hover {
		background-color: #0087be;
	}
	.zozo-pricing-table-wrapper.price-style-one .zozo-pricing-item .pricing-ribbon-wrapper .pricing-ribbon {
		background: #0087be;
	}
	/* Style Two */	
	.featured-item.price-style-two .zozo-pricing-item .pricing-box .pricing-head .pricing-cost-wrapper {
		background: #0087be;
	}
	.featured-item.price-style-two .zozo-pricing-item .pricing-bottom .btn.btn-default {
		background-color: #0087be;
	}
	.zozo-pricing-table-wrapper.price-style-two .zozo-pricing-item .pricing-bottom .btn.btn-default:hover {
		background-color: #0087be;
	}
	.zozo-pricing-table-wrapper.price-style-two .zozo-pricing-item .pricing-ribbon-wrapper .pricing-ribbon {
		background: #0087be;
	}	
	/* ------------- Portfolio ------------- */
	.portfolio-tabs.arrow-style-filter .smart-sub-menu.portfolio-sub-filter li a:hover,
	.portfolio-tabs.arrow-style-filter .smart-sub-menu.portfolio-sub-filter li a.active {
		background: #0087be;
	}
	.portfolio-tabs.transparent-filter .smart-sub-menu.portfolio-sub-filter li a:hover,
	.portfolio-tabs.transparent-filter .smart-sub-menu.portfolio-sub-filter li a.active {
		color: #0087be;
	}
	.portfolio-tabs.default-filter .smart-sub-menu.portfolio-sub-filter > li > a:after {
		background: #0087be;
	}
	.portfolio-cat > a:hover,.portfolio-cat > a:focus {
		color:#0087be;
	}
	.portfolio-overlay {
		background-color: rgba(0,135,190,0.8);
	}
	.style-classic .portfolio-inner-wrapper a:hover {
		color: #0087be;
	}
	.portfolio-item .overlay-content .portfolio-title a,
	.portfolio-tabs.icon_type li a.active,
	.portfolio-tabs.icon_type li a i {
		color: #0087be;
	}
	.style-list_style .portfolio-title a:hover, 
	.style-style_one .overlay-full .portfolio-title a:hover, 
	.style-style_one .overlay-full .portfolio-cat a:hover {
		color: #0087be;
	}
	.portfolio-tabs.icon_type::after {
		background-color: #0087be;
	}
	.portfolio-content a.classic-img-link:hover:before {
		border-color: #0087be;
		color: #0087be;
	}
	.portfolio-single .portfolio-info-title::before, .portfolio-single .portfolio-desc-title::before{
		background-color: #0087be;
	}
	.portfolio-carousel-slider .owl-prev.style-light,
	.portfolio-carousel-slider .owl-next.style-light,
	.blog-carousel-slider .owl-prev.style-light,
	.blog-carousel-slider .owl-next.style-light {
		background: #0087be;
	}
	
	.style-style_two .portfolio-title a:hover,
	.style-style_two .portfolio-title a:focus,
	.style-style_two .portfolio-cat > a:hover,
	.style-style_two .portfolio-cat > a:focus {
	    color: #0087be;
	}
	/* ------------- Pagination & Pager ------------- */
	.pagination > li > span.current,
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus {
		background-color: #0087be;
	} 
	/* .pagination > li > a.prev,
	.pagination > li > a.next {
		background-color: #0087be;
	} */
	.pagination > li > a.prev:hover:after,
	.pagination > li > a.prev:active:after,
	.pagination > li > a.prev:focus:after,
	.pagination > li > a.next:hover:after,
	.pagination > li > a.next:active:after,
	.pagination > li > a.next:focus:after {
		background-color: #0087be;
		border-color: #0087be;
	}
	.pager li > a,
	.pager li > span {
		border-color: #0087be;
		background-color: #0087be;
	}
	/* ------------- Social Email Icon ------------- */
	.zozo-social-share-icons li a {
		background-color: transparent;
		border-color: #0087be;
	}
	.zozo-social-share-icons li.email a:hover {
		background-color: #0087be!important;
	}
	.zozo-social-icons.soc-icon-transparent li.email a:hover,
	.zozo-social-icons.soc-icon-transparent li.email a:hover i {
		color: #0087be;
	}
	.zozo-social-icons li.email a:hover {
		background-color: #0087be;
	}
	/* Portfolio Single Social Email Icon */
	.portfolio-single .zozo-social-share-box .zozo-social-share-icons li a,
	.portfolio-single .zozo-social-share-box .zozo-social-icons.soc-icon-transparent li a,
	.portfolio-single .zozo-social-share-box .zozo-social-icons.soc-icon-transparent li a i{
		background-color: #0087be;
		border: 1px solid #0087be;
		color:#fff;
	}
	/* Addons Icon Color */
	.stats-block .aio-icon i {
		color: #0087be;
	}
	/* ------------- Blog ------------- */
	.latest-posts-layout .entry-meta .read-more > a:after {
		color: #0087be;
	}
	.large-posts h2.entry-title a:hover,
	.large-posts h2.entry-title a:focus {
		color: #0087be;
	}
	.entry-meta a:hover,
	.entry-meta a:active,
	.entry-meta a:focus {
		color: #0087be;
	}
	.post .btn-more.read-more-link:hover, .post .btn-more.read-more-link:active, .post .btn-more.read-more-link:focus {
		color: #0087be;
	}
	
	.latest-posts-slider .posts-content-container .btn-more.read-more-link:hover {
		
		color: #0087be;
	
	}
	.grid-layout .comments-link > a:hover {
		color: #0087be;
	}
	.post-tags > a:hover,
	.post-tags > a:active,
	.post-tags > a:focus {
		color: #0087be;
	}
	.comment-form .zozo-input-group-addon .input-group-addon {
		color: #0087be;
	}
	.comment-container span i,
	.comment-container a i {
		color: #0087be;
	}
	#respond.comment-respond .form-submit input[type="submit"] {
		border-color: #0087be;
		background-color: #0087be;
	}	
	/* Blog List */
	.entry-title a:hover,
	.related-content-wrapper h5 .post-link:hover {
		color: #0087be;
	}
	
	.latest-posts-list-style .posts-content-container h2 > a:hover {
    	color: #0087be;
	}
	/*widget*/
	.tagcloud a {
		background-color: #0087be;
	}
	.latest-posts-menu .entry-date i {
		color: #0087be;
	}
	.zozo-tabs-widget .tabs .zozo-tab-content a:hover {
		color: #0087be;
	}
	.footer-widgets .widget a:hover {
		color: #0087be;
	}
	.sidebar .widget_nav_menu ul li a:hover,
	.sidebar .widget_nav_menu ul li.current-menu-item a,
	.sidebar .widget_nav_menu ul li.current-menu-item a:hover {
		background-color: #0087be;
	}
	/* Futured Images Slider */
	.featured-caption .featured-caption-inner .featured-post-title a:hover {
		color: #0087be;
	}
	/* Woo Commerce */
	.woocommerce .price_slider_amount .button, .woocommerce-Reviews p.form-submit input.submit {
		background-color: #0087be;
	}
	.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
		background-color: #0087be;
	}
	form.cart button.single_add_to_cart_button{
		background-color: #0087be;
	}
	.woocommerce .woocommerce-cart-content-box input.button{
		background-color: #0087be;
	}
	.woo-cart-collaterals-wrapper .cart_totals .wc-proceed-to-checkout a.checkout-button {
		background-color: #0087be;
	}
	.woocommerce .form-row.place-order input#place_order{
		background-color: #0087be;
	}
	.woocommerce .price .woocommerce-Price-amount,
	
	.zozo-woocommerce-wrapper .price span.woocommerce-Price-amount,
	.woocommerce .woocommerce-message:before,
	
	.woocommerce .woocommerce-info::before {
		color: #0087be;
	}
	
	.zozo-woocommerce-wrapper .product-category-title a:hover, 
	
	.zozo-woocommerce-wrapper .product-title a:hover,
	
	.woocommerce .product-category-title a:hover, 
	
	.woocommerce .product-title a:hover {
	
		color: #0087be !important;
	
	}
	
	.zozo-woocommerce-wrapper .product form.cart button,
	
	.woocommerce .woocommerce-message .button,
	
	.zozo-woocommerce-wrapper ul.products li.product.type-product .product-buttons a.add_to_cart_button,
	
	.woocommerce ul.products li.product.type-product .product-buttons a.add_to_cart_button, 
	
	.woocommerce #review_form input#submit {
		background-color: #0087be;
	}
	.woocommerce .woocommerce-message,
	.woocommerce .woocommerce-info, 
	.woocommerce .woocommerce-info::before {
		border-top-color: #0087be;
	}
	
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
		background-color: #0087be;
	}
	.woocommerce li .product-info .add_to_cart_button:hover {
		color: #0087be;
	}
	.woocommerce ul.products li .product-buttons a {
		background: #0087be;
	}
	.woocommerce ul.products li.product.has-post-thumbnail .button:hover {
    	color: #0087be;
	}		
	/* ------------- Audio & Video Player ------------- */
	.mejs-audio .mejs-controls .mejs-time-rail .mejs-time-current,
	.video-player .mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
		background: #0087be;
	}
	.zozo-client-grid img:hover {
		border-color: #0087be;
	}
	/* Time Table */
	.time-table .table > thead {
		background-color:#0087be;
	}
	/* ------------- Contact Form ------------- */
	.zozo-input-group-addon .input-group-addon {
		color: #0087be;
	}
	/* ------------- Contact Us ------------- */
	.contact-info-inner h4.contact-widget-title {
		color: #0087be;
	}
	.contact-info-inner h5 a {
		color: #0087be;
	}
	.zozo-social-icons.social-style-background li a,
	.contact-info-style2 h6 {
		background: #0087be;
	}
	/* ================================================================
	 * Timeline
	 * ================================================================ */
	.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:hover a,
	.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li.active a,
	.mptt-shortcode-wrapper ul.mptt-menu.mptt-navigation-tabs li:focus a {
		border-color:#0087be;
		color: #0087be;
	} 
	/* ------------- Footer Top Area------------- */
	div#footer-top-area {
		background: #0087be;
	}	
	/* ------------- Footer ------------- */
	.footer-widgets-section .flickr_photo_item a:after {
		background:#0087be;
	}
	.footer-backtotop a:hover,
	.footer-backtotop a:focus,
	.footer-backtotop a:active {
		background: #0087be;
	}
	/*Dark*/
	.footer-section.footer-skin-dark .widget.widget_recent_entries li a:hover,
	.footer-section.footer-skin-dark .widget.widget_recent_comments li .comment-author-link a:hover,
	.footer-section.footer-skin-dark .widget.zozo_category_posts_widget li a:hover,
	.footer-section.footer-skin-dark .widget.widget_categories li a:hover,
	.footer-section.footer-skin-dark .widget.widget_archive li a:hover,
	.footer-section.footer-skin-dark .widget.widget_meta li a:hover,
	.footer-section.footer-skin-dark .widget.widget_nav_menu li a:hover,
	.footer-section.footer-skin-dark .widget.widget_nav_menu li.current_page_item a,
	.footer-section.footer-skin-dark .widget li .tweet-user-name a:hover,
	.footer-section.footer-skin-dark .widget.zozo_popular_posts_widget .posts-title > a:hover,
	.footer-section.footer-skin-dark .zozo-tabs-widget a:hover,
	.footer-section.footer-skin-dark .widget.widget_pages li > a:hover {
		color: #0087be;
	}
	
	.zozo-features-list-wrapper .features-list-inner .features-icon i {
		color: #0087be;
	}
	/* ------------- Responsive Video Section ------------- */
	.video-bg .mb_YTVTime {
		background:#0087be;
	}
	.zozo-vc-modal-overlay-close {
		background: #0087be;
	}
	.widget.widget_recent_entries li a:hover,
	.widget.widget_recent_comments li a:hover,
	.widget.zozo_category_posts_widget li a:hover,
	.widget.widget_categories li a:hover,
	.widget.widget_archive li a:hover,
	.widget.widget_meta li a:hover,
	.widget.widget_nav_menu li a:hover,
	.widget.widget_edd_categories_tags_widget li a:hover,
	
	.widget.widget_pages li > a:hover {
		color:#0087be;
	}
	/* Twitter */
	.widget .tweet-item h5:before {
		background:#0087be;
	}
	/* Footer */
	.footer-copyright-section .zozo-social-icons.soc-icon-transparent i:hover {
		color: #0087be;
	}
	/* Widgets */
	.secondary_menu .widget_nav_menu ul li.menu-item > a:hover,
	.secondary_menu .widget_nav_menu ul li.menu-item > a:active,
	.secondary_menu .widget_nav_menu ul li.menu-item > a:focus {
		color: #0087be;
	}
	/* Timeline */
	.zozo-timeline-wrapper .timeline-align-right:before,
	.zozo-timeline-wrapper .timeline-align-left:after,
	.zozo-timeline-item.timeline-style-1 .zozo-time-separator-text .timeline-sep-text{
		background: #0087be;
	}
	.zozo-timeline-item.timeline-style-1 .timeline-content-wrapper,
	.zozo-timeline-item.timeline-style-1 .zozo-time-separator-text .timeline-sep-text{
		border-color:#0087be;
	}
	/* ================================================================
	 * BACK TO TOP
	 * ================================================================ */
	#zozo-backtotop {
		background: #0087be;
	}
	/* --------------Selection Color-------------- */
	::-moz-selection {
		background:#0087be;
		color: #fff;
	}
	::selection {
		background:#0087be;
		color: #fff;
	}
	::-webkit-selection {
		background:#0087be;
		color: #fff;
	}
	/* -------------- Revolution Slider ------------- */
	.rev_slider_wrapper span {
		color: #0087be;
	}
	.typo-light .text-color,
	.typo-dark .text-color,
	.text-color {
		color: #0087be;
	}
	
	.rev_slider_wrapper .tp-parallax-wrap .text-color {
	
		color: #0087be !important;
	
	}
	.theme-bg-color {
		background: #0087be;
	}
	.zozo-revslider-section .tp-bullets.simplebullets.round .bullet {
		border-color: #0087be;
	}
	.zozo-revslider-section .tp-bullets.simplebullets.round .bullet.selected {
		background: #0087be;
	}
	.zozo-revslider-section .rev_slider .tp-button {
		border-color: #0087be; 
		background: #0087be;	
	}
	.zozo-revslider-section .rev_slider .tp-button:hover {
		color: #0087be;
	}
	.rev_slider .tp-bannertimer {
		background: #0087be;
	}
	
	/* Blog Icon */
	article.post .post-inner-wrapper .post-featured-image a:before,
	.related-post-item .entry-thumbnail .post-img:before{
		background-color: #0087be;
	}
	.comment-container a:hover {
		color: #0087be;
	}
	/* Admin Page */
	.zozo-social-share-box .author-social li a,
	.zozo-social-share-box .author-social li a:hover,
	.zozo-social-share-box .author-social li a:focus,
	.zozo-social-share-box .author-social li a.active {
		background-color: #0087be;
	}
	.author-name a:hover {
		color: #0087be;
	}
	/* -------------- Plugins ------------- */
	/* VC Post Grid */
	.vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_date > div {
		color: #0087be;
	}
	/* List Item */
	.hexagon li.icon_list_item .icon_list_icon {
		background: #0087be;
		border-color: #0087be;
	}
	.sitemap-wrapper ul li a:hover,
	.sitemap-wrapper ul li a:active,
	.sitemap-wrapper ul li a:focus {
		color: #0087be;
	}
	/* ================================================================
	 * Widget
	 * ================================================================ */
	/* Services menu */
	.menu-service-menu-container li a:hover,
	.menu-service-menu-container li a:focus,
	.menu-service-menu-container li a.active {
		background: #0087be;
	}.btn,.btn.btn-default,input[type="submit"],button[type="submit"],.tagcloud a,.vc_general.vc_btn3.vc_btn3-color-primary-bg,.vc_btn.vc_btn-primary-bg,.vc_general.vc_btn3.vc_btn3-color-juicy-pink,.wpcf7 input[type="submit"],.pager li > a,.pager li > span,.owl-carousel.owl-theme .owl-controls .owl-nav div,#zozo-backtotop { background: #0087be}a { color: #0087be; }
body { font-family: Lato;font-size: 15px;font-weight: 400;color: ;line-height: 28px; }
.ui-widget, .vc_tta-accordion .vc_tta-panel-title { font-family: Lato;font-size: 15px;font-weight: 400;color: ;line-height: 28px; }
@media only screen and (min-width: 768px) {.header-section.type-header-7 .navbar-header, .header-section.type-header-8 .navbar-header { max-width: 257px; }
.header-section.type-header-7 .is-sticky .navbar-header, .header-section.type-header-8 .is-sticky .navbar-header { max-width: 257px; }}
.fullwidth .container { max-width: 1200px; }
.boxed .is-sticky .header-main-section { max-width: 1200px; }
.dropdown-menu { min-width: 220px; }
h1 { font-family: Lato;font-size: 45px;font-weight: 700;line-height: 42px; }
h2, .vc_cta3-actions .vc_general.vc_btn3.vc_btn3-style-transparent { font-family: Lato;font-size: 29px;font-weight: 700;line-height: 35px; }
h3, .stats-number, .comment-reply-title { font-family: Lato;font-size: 22px;font-weight: 700;line-height: 29px; }
h4, legend { font-family: Lato;font-size: 20px;font-weight: 700;line-height: 24px; }
h5, .stats-text, .smile-icon-timeline-wrap .timeline-separator-text .sep-text { font-family: Lato;font-size: 17px;font-weight: 700;line-height: 20px; }
h6, #bbpress-forums #bbp-single-user-details #bbp-user-navigation a, .sp-scrollable-table-wrapper thead tr th, .rtb-booking-form fieldset legend, button.ubtn, .portfolio-tabs.icon_type li a { font-family: Lato;font-size: 14px;font-weight: 700;line-height: 17px; }
.header-section .header-top-section a { font-family: Lato;font-size: 12px;font-weight: 400;line-height: 12px; }
.zozo-main-nav > li > a, .zmm-wrapper .main-menu-container .navbar-nav li > a { font-family: Lato;font-size: 13px;font-weight: 700; }
.zozo-main-nav .dropdown-menu > li a, .zozo-main-nav .dropdown-menu .sub-menu a, .zozo-main-nav .mega-child-ul li > a, .zozo-main-nav .mega-dropdown .menu-item > a { font-family: Lato;font-size: 13px;font-weight: 400;line-height: 20px; }
.zozo-main-nav.navbar-nav .dropdown-menu, .zozo-main-nav.navbar-nav .dropdown-menu .sub-menu, .zozo-main-nav.navbar-nav .sub-menu, .zozo-megamenu-wrapper, .header-side-top-submenu.dropdown-menu { background-color: #ffffff !important;border-top-width: 3px;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;border-style: solid; }
.zozo-main-nav.navbar-nav .dropdown-menu .sub-menu { top: -23; }
.entry-title, .page-title-section .page-title-captions h1.entry-title { font-family: Lato;font-size: 25px;font-weight: 700;line-height: 35px; }
.post h2.entry-title, .category-title { font-family: Lato;font-size: 25px;font-weight: 700;line-height: 24px; }
.widget h3 { font-family: Lato;font-size: 17px;line-height: 20px; }
.widget div, .widget p { font-family: Lato;font-size: 15px;font-weight: 400;line-height: 28px; }
.footer-widgets .widget h3 { font-family: Lato;font-size: 17px;line-height: 20px; }
.footer-widgets .widget div, .footer-widgets .widget p { font-family: Lato;font-size: 15px;font-weight: 400;line-height: 28px; }
.navbar-header .navbar-brand img, .navbar-brand img { max-height: 100px; }
.header-section .header-main-section { height: 80px; }
.header-section .header-main-section .navbar-header .navbar-brand, .header-section .header-main-section .zozo-main-nav > li, .header-section .header-main-section .zozo-main-nav > li > a, .header-section .header-main-section .main-bar-item, .header-section .header-main-section .toggle-bar-item, .header-section .header-main-section .header-toggle-content, .type-header-9 .navbar-nav.zozo-main-bar > li, .type-header-9 .navbar-nav.zozo-main-bar > li a { line-height: 80px; height: 80px; }
.header-section.type-header-3 .header-main-section { height: 160px; }
.header-section.type-header-3 .header-main-section .header-toggle-content { height: 79px; line-height: 79px; }
.header-section .is-sticky .header-main-section, .header-section.type-header-3 .is-sticky .header-main-section { height: 60px; }
.header-section .is-sticky .header-main-section .navbar-header .navbar-brand, .header-section .is-sticky .header-main-section .zozo-main-nav > li, .header-section .is-sticky .header-main-section .zozo-main-nav > li > a, .header-section .is-sticky .header-main-section .main-bar-item, .header-section .is-sticky .header-main-section .toggle-bar-item, .header-section .is-sticky .header-main-section .header-toggle-content, .type-header-9 .is-sticky .navbar-nav.zozo-main-bar > li, .type-header-9 .is-sticky .navbar-nav.zozo-main-bar > li a { line-height: 60px; height: 60px; }
.header-section .header-logo-section li, .header-section .header-logo-section .navbar-header .navbar-brand, .header-section .header-logo-section .logo-bar-item,  .header-section .header-logo-section .logo-bar-item .zozo-main-nav li > a, .header-section.type-header-6 .header-logo-section li.header-top-cart, .type-header-6 .header-logo-section .zozo-logo-bar { line-height: 76px; height: 76px; }
.header-section.header-fullwidth-menu .header-main-section { height: 60px; }
.header-section.header-fullwidth-menu .header-main-section .navbar-header .navbar-brand, .header-section.header-fullwidth-menu .header-main-section .zozo-main-nav > li, .header-section.header-fullwidth-menu .header-main-section .zozo-main-nav > li > a, .header-section.header-fullwidth-menu .header-main-section .main-bar-item { line-height: 60px; height: 60px; }
.header-section.header-fullwidth-menu .header-main-section .header-toggle-content { height: 59px; line-height: 59px; }
.header-section.header-fullwidth-menu .is-sticky .header-main-section { height: 60px; }
.header-section.header-fullwidth-menu .is-sticky .header-main-section .navbar-header .navbar-brand, .header-section.header-fullwidth-menu .is-sticky .header-main-section .zozo-main-nav > li, .header-section.header-fullwidth-menu .is-sticky .header-main-section .zozo-main-nav > li > a, .header-section.header-fullwidth-menu .is-sticky .header-main-section .main-bar-item { line-height: 60px; height: 60px; }
