  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section>
      <div class="searchMap">
        

          <form id="mailchimp-subscription-form-footer" class="newsletter-form" novalidate="true">
              <div class="input-group">
                <ng-select
                  [options]="myOptions" #pharmaLocation (keyup)="currentLocation(pharmaLocation.value)">
                </ng-select>
                <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" style="height: 45px;"(click)="currentLocation(pharmaLocation.value)">Rechercher </button>
                </span>
              </div>
            </form>
      </div>
      
      <div class="container-fluid p-0">
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="Currentlat" [longitude]="Currentlng" [zoom]=18>
          <agm-marker *ngFor="let pharmacie of pharmacySearch" [latitude]="pharmacie.latitude" [longitude]="pharmacie.longitude" [iconUrl]="'assets/fonts/hospital_map_marker.png'">
              <agm-info-window>
                <h3>{{pharmacie.name}}</h3>
                <p>adresse :  {{pharmacie.addresse}}</p>
                <p>Tél. : {{pharmacie.phoneNumber}}</p>
                <a [routerLink]="['pharmacie', pharmacie.id]" class="btn btn-default">Commander médicament</a>
              </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </section>
  </div>
  <!-- end main-content -->
