agm-map {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.searchMap {
    position: absolute;
    width: 672px;
    right: 20px;
    top: 20px;
}

div.searchMap input {
    border-radius: 0;
}

.header-nav {
    padding-bottom: 10px;
}

.autocompleteSearch{
    position: relative;
    background: #ffffff;

}

.autocompleteSearchOption{
    position: relative;
    background: #ffffff;
    padding: 10px;
}

.activeClass{
    z-index: 99;
}

option{
    border: #ffffff ;
    padding: 10px;
}

ng-select  {
    background: #ffffff;
    z-index: 99;
    padding: 7px;
}

