<div class="main-content">

        <!-- Divider: Contact -->
    <section class="divider">
      <div class="container">
        <div class="row pt-30">
          <div class="col-md-6">
            <div class="btn-group optionBtn" role="group">
              <button type="button" class="btn btn-default" [ngClass]="{'active' : isOn}" (click)="isOn= true">Client</button>
              <button type="button" class="btn btn-default" [ngClass]="{'active' : !isOn}" (click)="isOn= false">Pharmacie</button>
            </div>
            
            <!-- Contact Form -->
            <form #registerClientForm="ngForm" (ngSubmit)="actionOnSubmit(registerClientForm)" *ngIf="isOn">
              <!-- <h3 class="line-bottom mt-0 mb-30">Créer votre compte client</h3> -->
              <div class="col-sm-12">
                  <h3 class="line-bottom">Créer votre compte client</h3>
              </div>
              <div class="col-sm-12">
                <h4 class="line-bottom">Coordonnées personnelles</h4>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Nom <small>*</small></label>
                    <input name="client_lastName" ngModel class="form-control" type="text" placeholder="Entrer votre Nom" required >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Prénom<small>*</small></label>
                    <input name="client_firstName" ngModel class="form-control" type="text" required>
                  </div>
                </div>
              </div>
                
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label>Adresse d'habitation<small>*</small></label>
                      <input name="client_adress" ngModel class="form-control required" type="text" placeholder="Entrer votre Adresse" required>
                    </div>
                  </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Tél. <small>*</small></label>
                    <input name="client_phone" ngModel class="form-control required" type="text" placeholder="Entrer votre numéro de téléphone" required>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <h4 class="line-bottom">Informations de compte</h4>
              </div>
              <div class="form-group">
                <label>Login<small>*</small></label>
                <input name="client_login" ngModel class="form-control required"  type="text" placeholder="Entrer votre identifiant" required>
              </div>
              <div class="form-group">
                <label>Email<small>*</small></label>
                <input name="client_email" ngModel class="form-control required"  type="text" placeholder="Entrer votre email" required>
              </div>
              <div class="form-group">
                  <label>Mot de passe<small>*</small></label>
                  <input name="client_pwd" ngModel class="form-control required" type="password" placeholder="Entrer votre mot de passe" required>
                </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default btn-flat btn-theme-colored" (click)="submitClientForm()">Créer</button>
              </div>
            </form>

            <!-- pharmacie form -->
            <form #pharmacieForm="ngForm" (ngSubmit)="createPharmacie(pharmacieForm)" *ngIf="!isOn">
                <h3 class="line-bottom">Créer votre compte pharmacie</h3>
                <div class="col-sm-12">
                    <h4 class="line-bottom">Coordonnées de la pharmacie</h4>
                </div>
                <div class="form-group">
                  <label>Nom de la pharmacie<small>*</small></label>
                  <input name="pharmacie_name" ngModel class="form-control" type="text" required>
                </div>
                <div class="form-group">
                    <label>email<small>*</small></label>
                    <input name="pharmacie_email" ngModel class="form-control" type="text" required>
                  </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Numéro de téléphone<small>*</small></label>
                    <input name="pharmacie_tel" ngModel class="form-control required" type="text" required>
                  </div>
                </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Numéro de GSM</label>
                      <input name="pharmacie_gsm" ngModel class="form-control required" type="text"  required>
                    </div>
                  </div>
            </div>
            <div class="row">
                
                <div class="col-sm-12">
                    <div class="form-group">
                      <label>Adresse</label><br>
                      <input name="pharmacie_addresse" ngModel class="form-control" type="text" required>
                      <span style="padding: 5px; font-size: 13px; display: table-caption;" class="label label-warning">Merci de préciser l'adresse de votre pharmacie "Clicker le bon endroit"</span><br>
                      <agm-map [latitude]="currentLat" [longitude]="currentLng" (mapClick)=getLocationByClick($event) [zoom]=18>
                          <agm-marker [latitude]="currentLat" [longitude]="currentLng" [iconUrl]="'assets/fonts/hospital_map_marker.png'" *ngIf="locationChose"></agm-marker>
                      </agm-map>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="line-bottom">Informations de compte</h4>
                  </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Login<small>*</small></label>
                    <input name="pharmacie_login" ngModel class="form-control required" type="text" required placeholder="Identifiant de votre compte">
                  </div>
                </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Mot de passe</label>
                      <input name="pharmacie_password" ngModel class="form-control required" type="password" required placeholder="">
                    </div>
                  </div>
            </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default btn-flat btn-theme-colored">Enregistrer</button>
              </div>
            </form>
          </div>

          <!-- Login section -->
          <div class="col-md-6">
              <div class="widget border-1px p-30">
                  <h3 class="line-bottom mt-0 mb-30">Se connecter</h3>
                  <form #loginForm="ngForm" (ngSubmit)="signin(loginForm)">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Login <small>*</small></label>
                          <input name="username" ngModel class="form-control" type="text" placeholder="Login" required>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label>Mot de passe <small>*</small></label>
                          <input name="password" ngModel class="form-control required" type="password" placeholder="Mot de passe">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-default btn-flat btn-theme-colored">Se connecter</button>
                    </div>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>