h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #333333; 
    display: inline-block; 
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
}


.form-control {
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    border: 1px solid #ccc;
    padding: 5px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    line-height: 1.7;
    color: #777777;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.optionBtn button{
    padding: 12px!important;
}

.optionBtn {
    float: right!important;
}

agm-map {
    width: auto;
    height: 400px;
    margin: 0;
    padding: 0;
}

.has-danger {
    border: 1px solid red;
}
.has-success{
    border: 1px solid green;
}